workflow_master_v3.json
{"id": "nsJxsMrUDfrxdHpB", "name": "🏛️ HEDGE FUND SINTETICO v3.0 — XAU/USD (17 Dipartimenti)", "versionId": "v3-hedge-fund-xau-usd-2026-03-14", "nodes": [{"parameters": {"updates": ["message"], "additionalFields": {}}, "id": "5dd05ce5-eaa6-4305-8288-dc946e8ec07e", "name": "📱 Trigger Telegram", "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1.1, "position": [-736, 1504], "webhookId": "7d3abd8f-f98b-4052-aa8c-2098a320932a", "executeOnce": false, "alwaysOutputData": false, "credentials": {"telegramApi": {"id": "TcQO0PBwGY9oBcA5", "name": "Telegram account"}}, "disabled": true}, {"parameters": {"conditions": {"conditions": [{"leftValue": "={{ $json.message?.text?.toLowerCase() }}", "rightValue": "bollettino", "operator": {"type": "string", "operation": "contains"}}, {"leftValue": "={{ $json.message?.text?.toLowerCase() }}", "rightValue": "genera", "operator": {"type": "string", "operation": "contains"}}], "combinator": "or"}, "options": {}}, "id": "888c6611-18d6-413a-9332-56fc72371159", "name": "🔀 È comando bollettino?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-528, 1504]}, {"parameters": {}, "id": "616473f0-1073-491f-91ea-ad3f47d6c3c0", "name": "Merge Trigger", "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [-288, 1408]}, {"parameters": {"url": "https://xlzjkffrjynyqeivuczs.supabase.co/rest/v1/adaptive_weights?select=*&order=updated_at.desc&limit=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "YOUR_SUPABASE_KEY_HERE"}, {"name": "Authorization", "value": "Bearer YOUR_SUPABASE_KEY_HERE"}]}, "options": {}}, "id": "32d1c703-cdb5-4143-b61a-b39f5b5c392f", "name": "⚖️ Leggi Pesi Adattivi", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [176, 2928], "onError": "continueRegularOutput"}, {"parameters": {"url": "https://xlzjkffrjynyqeivuczs.supabase.co/rest/v1/audit_log?select=*&order=created_at.desc&limit=30&outcome=not.eq.null", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "YOUR_SUPABASE_KEY_HERE"}, {"name": "Authorization", "value": "Bearer YOUR_SUPABASE_KEY_HERE"}]}, "options": {}}, "id": "8d4b809a-c2ad-4ad3-a51f-be5cc88f18ba", "name": "📊 Fetch Sessioni Post-Mortem", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3056, 1440], "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "\nconst sessions=$input.all().map(i=>i.json).filter(s=>s.outcome&&s.outcome!=='null'&&s.outcome!=='NEUTRAL');\nif(sessions.length<3) return [{json:{message:'Dati insufficienti per aggiornare pesi',count:sessions.length}}];\n\nconst depts=['D1A','D1B','D2A','D2B','D3A','D3B','D4','D5','D6','D7','D8','D9','D10','D11'];\nconst accuracy={};\ndepts.forEach(d=>{\n  const relevant=sessions.filter(s=>{\n    try{const scores=typeof s.dept_scores==='string'?JSON.parse(s.dept_scores):s.dept_scores||{};return scores[d]!==undefined;}catch(e){return false;}\n  });\n  if(relevant.length===0){accuracy[d]=0.5;return;}\n  const wins=relevant.filter(s=>{\n    try{\n      const scores=typeof s.dept_scores==='string'?JSON.parse(s.dept_scores):s.dept_scores||{};\n      const dScore=scores[d]||0;\n      const isWin=s.outcome?.includes('WIN')||s.outcome?.includes('PARTIAL_WIN');\n      return (dScore>0&&isWin)||(dScore<0&&!isWin&&s.outcome==='LOSS');\n    }catch(e){return false;}\n  }).length;\n  accuracy[d]=relevant.length>0?wins/relevant.length:0.5;\n});\n\nconst defaultW={D1A:1.2,D1B:0.8,D2A:1.5,D2B:1.0,D3A:1.2,D3B:0.8,D4:1.3,D5:1.4,D6:1.1,D7:0.6,D8:1.0,D9:1.2,D10:1.3,D11:0.7};\nconst newWeights={};\ndepts.forEach(d=>{\n  const acc=accuracy[d]||0.5;\n  const factor=0.5+acc;\n  newWeights[d]=Math.max(0.3,Math.min(2.5,+(defaultW[d]*factor).toFixed(2)));\n});\n\nreturn [{json:{\n  d1a_weight:newWeights.D1A,d1b_weight:newWeights.D1B,\n  d2a_weight:newWeights.D2A,d2b_weight:newWeights.D2B,\n  d3a_weight:newWeights.D3A,d3b_weight:newWeights.D3B,\n  d4_weight:newWeights.D4,d5_weight:newWeights.D5,d6_weight:newWeights.D6,\n  d7_weight:newWeights.D7,d8_weight:newWeights.D8,d9_weight:newWeights.D9,\n  d10_weight:newWeights.D10,d11_weight:newWeights.D11,\n  sessioni_totali:sessions.length,\n  accuracy_json:JSON.stringify(accuracy),\n  updated_at:new Date().toISOString(),\n  note:'Auto-aggiornato da Post-Mortem'\n}}];\n"}, "id": "83e8c243-848a-4465-ab39-510ca3979d3f", "name": "⚖️ Calcola Nuovi Pesi", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3312, 1424]}, {"parameters": {"method": "POST", "url": "https://xlzjkffrjynyqeivuczs.supabase.co/rest/v1/adaptive_weights", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "YOUR_SUPABASE_KEY_HERE"}, {"name": "Authorization", "value": "Bearer YOUR_SUPABASE_KEY_HERE"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "resolution=merge-duplicates"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json) }}", "options": {}}, "id": "f2854c2a-3a80-482e-af28-17d8ed8187eb", "name": "💾 Salva Pesi Adattivi", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3536, 1456], "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "const now = new Date();\nconst hour = now.getUTCHours();\nconst day = now.getUTCDay();\n\nlet marketOpen = false;\nif (day === 6) { marketOpen = false; }\nelse if (day === 0) { marketOpen = hour >= 23; }\nelse if (day === 5) { marketOpen = hour < 22; }\nelse { marketOpen = true; }\n\nlet sessionLabel = 'CHIUSO';\nif (marketOpen) {\n  if (hour >= 23 || hour < 8)       sessionLabel = 'ASIA';\n  else if (hour >= 8 && hour < 12)  sessionLabel = 'LONDRA';\n  else if (hour >= 12 && hour < 17) sessionLabel = 'NEW_YORK';\n  else if (hour >= 17 && hour < 22) sessionLabel = 'NEW_YORK_CLOSE';\n  else                               sessionLabel = 'TRANSIZIONE';\n}\n\nlet sessionInfo = '';\nif (!marketOpen && day === 6)               sessionInfo = '⛔ Sabato — mercato chiuso';\nelse if (!marketOpen && day === 0)          sessionInfo = '⏳ Domenica — apertura alle 23:00 UTC';\nelse if (!marketOpen && day === 5)          sessionInfo = '⛔ Venerdì — mercato chiuso';\nelse if (sessionLabel === 'ASIA')           sessionInfo = '🌏 Sessione ASIA attiva';\nelse if (sessionLabel === 'LONDRA')         sessionInfo = '🇬🇧 Sessione LONDRA attiva';\nelse if (sessionLabel === 'NEW_YORK')       sessionInfo = '🇺🇸 Sessione NEW YORK attiva';\nelse if (sessionLabel === 'NEW_YORK_CLOSE') sessionInfo = '🔔 NEW YORK chiusura';\nelse                                        sessionInfo = '🔄 Transizione sessioni';\n\nreturn [{ json: { sessionLabel, sessionInfo, marketOpen, hour, day, timestamp: now.toISOString() } }];"}, "id": "a8c9b743-776a-49dc-98bc-a4a7010faddb", "name": "🔧 Init Sessione1", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-32, 1408]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"leftValue": "={{ $json.marketOpen }}", "rightValue": {}, "operator": {"type": "boolean", "operation": "true", "singleValue": true}, "id": "d64119a3-862f-4e0d-a8aa-f6077682fb78"}], "combinator": "and"}, "options": {}}, "id": "c4443d37-6879-4a85-b142-72036895f446", "name": "🔀 Mercato Aperto?1", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [368, 1424], "alwaysOutputData": false}, {"parameters": {"jsCode": "const now = new Date();\nconst utcHour = now.getUTCHours();\nconst utcDay = now.getUTCDay();\nconst isWeekendClosed = (utcDay === 6) || (utcDay === 0 && utcHour < 22) || (utcDay === 5 && utcHour >= 21);\nif(isWeekendClosed){ return [{json:{message:'Weekend skip', ts: now.toISOString(), marketOpen: false}}]; }\nelse { return [{json:{message:'Market open', ts: now.toISOString(), marketOpen: true}}]; }"}, "id": "7ac981d3-0ebe-4245-a9d5-32321920f5a0", "name": "💤 Skip Weekend1", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [784, 1424]}, {"parameters": {"workflowId": {"__rl": true, "value": "LTuCE2qnUnPqvyvP", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "60f18463-8f1e-45b3-a140-14c71d209485", "name": "🏦 D1A — Macro FED1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [160, -144]}, {"parameters": {"workflowId": {"__rl": true, "value": "OhciXujga9UvsUa7", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "8b36569b-c930-45b9-8f49-ac52e57ad293", "name": "🥇 D2A2 — Oro Tecnico1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [176, 288]}, {"parameters": {"workflowId": {"__rl": true, "value": "UB3LFwFBMmcAaQKx", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "06ffafe0-1cfb-4085-be91-3ea43310940f", "name": "💵 D3A — DXY/SPX1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [208, 528]}, {"parameters": {"workflowId": {"__rl": true, "value": "BoNbH64G2PbVlrRG", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "8d95e09d-a966-482a-b0e2-fabf4759da9a", "name": "🔗 D3B — BTC/Rame1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [208, 640]}, {"parameters": {"workflowId": {"__rl": true, "value": "Bi15VIFLQdkvDkXi", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "4d94ea4e-3405-48cc-a579-1c5496ed2dad", "name": "😨 D4 — Sentiment1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [208, 768]}, {"parameters": {"workflowId": {"__rl": true, "value": "jKuLOduGho0D9qlt", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "09da216b-a8a1-43a3-9fd5-cf7f007a27fd", "name": "🐋 D6 — COT Whale1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [256, 1616]}, {"parameters": {"workflowId": {"__rl": true, "value": "OGITnSHM7xEDiXaS", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "31df69bb-3013-4ea6-ad23-87bf1ff42169", "name": "📅 D7 — Stagionalità1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [256, 1728]}, {"parameters": {"workflowId": {"__rl": true, "value": "Wr31rZFyLsVlNcik", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "9d91df50-a46e-4723-baa7-2212f0676a65", "name": "📍 D8 — Livelli S/R1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [224, 1904]}, {"parameters": {"workflowId": {"__rl": true, "value": "j4eKm2euBmRIjosA", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "aa2a0e56-e81d-4f53-a991-85800af68501", "name": "🕯️ D9 — Candele1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [224, 2016]}, {"parameters": {"workflowId": {"__rl": true, "value": "zD7gPxynUQ0kZkax", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "93397871-0896-4d11-a822-2a3ca6b70ff1", "name": "🏗️ D10 — Struttura1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [192, 2144]}, {"parameters": {"workflowId": {"__rl": true, "value": "3vQsSJwxKXI1MLI4", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "179d6c7c-2ef9-4679-b8be-4539d3e6e7c9", "name": "⏰ D11 — Sessione1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [192, 2304]}, {"parameters": {"url": "https://xlzjkffrjynyqeivuczs.supabase.co/rest/v1/working_memory?select=*&order=created_at.desc&limit=10", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "YOUR_SUPABASE_KEY_HERE"}, {"name": "Authorization", "value": "Bearer YOUR_SUPABASE_KEY_HERE"}]}, "options": {"timeout": 8000}}, "id": "0822d96b-a032-447e-aeac-c5715f2a3b58", "name": "🧠 Mem-1 Working1", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [176, 2608], "alwaysOutputData": true, "onError": "continueRegularOutput"}, {"parameters": {"url": "https://xlzjkffrjynyqeivuczs.supabase.co/rest/v1/semantic_memory?order=created_at.desc&limit=5", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "YOUR_SUPABASE_KEY_HERE"}, {"name": "Authorization", "value": "Bearer YOUR_SUPABASE_KEY_HERE"}]}, "options": {}}, "id": "52d45816-ccf0-488e-9cb5-8ae96ecc58f2", "name": "📚 Mem-3 Semantica1", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [176, 2752], "onError": "continueRegularOutput"}, {"parameters": {"numberInputs": 10}, "id": "20ebc452-7d2c-4bf7-adee-041e61fac345", "name": "Merge 1 — D1A+D1B1", "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [1216, 1808]}, {"parameters": {"numberInputs": 3}, "id": "174b15aa-ef39-4e09-affe-66fe8e72ab08", "name": "Merge 2 — D2A+D2B1", "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [1664, 1424]}, {"parameters": {"numberInputs": 10}, "id": "39a372c7-b6a2-4999-bb84-4021c5c891ed", "name": "Merge 3 — D3A+D3B1", "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [1216, 640]}, {"parameters": {"jsCode": "// Memory Fusion v3.1 — unchanged from original\nconst allInputs = $input.all();\n\nconst d2a1 = allInputs.find(i => {\n  const j = i.json;\n  if (!j) return false;\n  if (j.source?.includes('SWISSQUOTE')) return true;\n  if (['FRANKFURTER', 'YAHOO_1M'].includes(j.source)) return true;\n  if (j.goldPrice !== undefined && !j.departments && !j.dept && !j.score && !j.department) return true;\n  return false;\n})?.json || null;\n\nconst isValidPrice = p => typeof p === 'number' && p > 1500 && p < 7000;\nconst liveGoldPrice  = d2a1 && isValidPrice(d2a1.goldPrice) ? d2a1.goldPrice : null;\nconst liveGoldSource = d2a1?.source || 'NONE';\nconst liveGoldBid    = d2a1?.sqBid    || null;\nconst liveGoldAsk    = d2a1?.sqAsk    || null;\nconst liveGoldSpread = d2a1?.sqSpread || null;\n\nconst dept = {};\nallInputs.forEach(item => {\n  const d = item.json;\n  if (!d) return;\n  if (d.source?.includes('SWISSQUOTE')) return;\n  if (['FRANKFURTER', 'YAHOO_1M'].includes(d.source)) return;\n  if (d.goldPrice !== undefined && !d.dept && !d.department && !d.score) return;\n\n  let key = d.dept || d.dipartimento || d.department;\n  if (key === 'D9_CANDELS') key = 'D9_CANDLES';\n  if (!key && d.rsi !== undefined && d.ema20 !== undefined) key = 'D2A_GOLD_TECH';\n  if (!key && d.blackSwanAlert !== undefined && d.topHeadlines !== undefined) key = 'D5_NEWS_NLP';\n  if (key) dept[key] = d;\n});\n\nconst workingMem = allInputs.find(i => Array.isArray(i.json))?.json || [];\nconst semanticMem = allInputs.filter(i => i.json?.regime_name).map(i => i.json) || [];\nconst weightsRaw = allInputs.find(i => i.json?.d1a_weight !== undefined || i.json?.d1_weight !== undefined)?.json || null;\n\nconst defaultWeights = {D1A:1.3,D1B:0.9,D2A:1.6,D2B:1.15,D3A:1.25,D3B:0.85,D4:1.4,D5:1.5,D6:1.2,D7:0.7,D8:1.1,D9:1.3,D10:1.4,D11:0.8};\nconst weights = weightsRaw ? {\n  D1A:weightsRaw.d1a_weight||defaultWeights.D1A,D1B:weightsRaw.d1b_weight||defaultWeights.D1B,\n  D2A:weightsRaw.d2a_weight||defaultWeights.D2A,D2B:weightsRaw.d2b_weight||defaultWeights.D2B,\n  D3A:weightsRaw.d3a_weight||defaultWeights.D3A,D3B:weightsRaw.d3b_weight||defaultWeights.D3B,\n  D4:weightsRaw.d4_weight||defaultWeights.D4,D5:weightsRaw.d5_weight||defaultWeights.D5,\n  D6:weightsRaw.d6_weight||defaultWeights.D6,D7:weightsRaw.d7_weight||defaultWeights.D7,\n  D8:weightsRaw.d8_weight||defaultWeights.D8,D9:weightsRaw.d9_weight||defaultWeights.D9,\n  D10:weightsRaw.d10_weight||defaultWeights.D10,D11:weightsRaw.d11_weight||defaultWeights.D11\n} : defaultWeights;\n\nconst EXPECTED_DEPTS=['D1_MACRO','D1B_MACRO_SEC','D2A_GOLD_TECH','D2B_GOLD_ADV','D3A_INTERMARKET_MAIN','D3B_INTERMARKET_SEC','D4_SENTIMENT','D5_NEWS_NLP','D6_COT_WHALE','D7_SEASONALITY','D8_LEVELS','D9_CANDLES','D10_STRUCTURE','D11_SESSION','D4_BC','D5A','D5B','D12'];\nconst deptKeys=Object.keys(dept);\nconst deptCount=deptKeys.length;\nconst missingDepts=EXPECTED_DEPTS.filter(k=>!dept[k]);\nconst sessionLabel=dept['D11_SESSION']?.sessionLabel||dept['D11_SESSION']?.sessionInfo||'N/A';\nconst winRate=workingMem.length>0?workingMem.filter(t=>t.outcome==='WIN').length/workingMem.length:0.40;\nconst recentTrades=workingMem.slice(-10);\n\nif(deptCount<3) return [];\nreturn [{json:{departments:dept,weights,historicalContext:semanticMem.slice(0,3),hasMemory:workingMem.length>0,sessionLabel,winRate,recentTrades,liveGoldPrice,liveGoldSource,liveGoldBid,liveGoldAsk,liveGoldSpread,_meta:{totalInputs:allInputs.length,deptCount,deptKeys,missingDepts,d2a1Active:liveGoldPrice!==null,fusionTime:new Date().toISOString()}}}];"}, "id": "bdbfbacf-53c9-49f3-923a-3fb6494f03dc", "name": "🔮 Memory Fusion1", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1840, 1440]}, {"parameters": {"jsCode": "// ============================================================\n// CERVELLO CIO v10.3 — Sistema XAU 2.1\n// NUOVO: Session Filter statisticamente validato (113 trade reali)\n//   08-11 UTC → FORZA LONG  (WR 100%)\n//   12-20 UTC → FORZA SHORT (WR 100%)\n//   21-22 UTC → FORZA LONG  (WR 100%)\n//   00-07 UTC → FORZA SHORT (WR 100%)\n// NUOVO: Price Filter ($3.050 threshold da dati reali)\n// FIX C2: Stub FASE2 isolati — non distorcono qualityScore\n// FIX C3: Pesi adattivi ABILITATI\n// FIX G9: ATR H1 bidirezionale, RR minimo 1.5x\n// FIX G10: RSI + MA50/MA200 bidirezionali nel scorer\n// CALIBRAZIONE: leva max 20x (G1)\n// ============================================================\n\nconst inputs = $input.all();\n\n// ─── FUSION ─────────────────────────────────────────────────\nconst fusion = inputs.find(i => i.json?.departments)?.json\n               || $input.first().json;\n\nconst {\n  departments:    dept             = {},\n  weights:        supabaseWeights  = {},\n  historicalContext               = [],\n  hasMemory                       = false,\n  sessionLabel                    = 'N/A',\n  winRate:        winRateRaw       = 0.63,\n  recentTrades                    = [],\n} = fusion;\n\n// ─── DIPARTIMENTI ───────────────────────────────────────────\nconst D1A  = dept['D1_MACRO']              || dept['D1A_MACRO']           || {};\nconst D1B  = dept['D1B_MACRO_SEC']         || {};\nconst D2A  = dept['D2A_GOLD_TECH']         || dept['D2_GOLD']             || {};\nconst D2B  = dept['D2B_GOLD_ADV']          || {};\nconst D3A  = dept['D3A_INTERMARKET_MAIN']  || dept['D3_INTERMARKET']      || {};\nconst D3B  = dept['D3B_INTERMARKET_SEC']   || {};\nconst D4   = dept['D4_SENTIMENT']          || {};\nconst D5raw= dept['D5_NEWS_NLP']           || {};\nconst D6   = dept['D6_COT_WHALE']          || {};\nconst D7   = dept['D7_SEASONALITY']        || {};\nconst D8   = dept['D8_LEVELS']             || {};\nconst D9   = dept['D9_CANDLES']            || dept['D9_CANDELS']          || {};\nconst D10  = dept['D10_STRUCTURE']         || {};\nconst D11  = dept['D11_SESSION']           || {};\nconst D4_BC = dept['D4_BC'] || {};\nconst D5A   = dept['D5A']   || {};\nconst D5B   = dept['D5B']   || {};\nconst D12   = dept['D12']   || {};\n\n// ─── FIX C2: ISOLA STUB FASE2 ───────────────────────────────\n// Se un nodo è ancora stub, usa score 0 (NEUTRO) invece di 50\n// Così non distorce qualityScore verso l'alto artificialmente\nconst safeScore = (d) => {\n  if (d.isFASE2stub === true) return 0; // stub → neutro\n  const s = d.score;\n  if (typeof s !== 'number' || isNaN(s)) return 0;\n  return s;\n};\n\n// ─── D5 NORMALIZZATO ────────────────────────────────────────\nconst D5 = {\n  score:          safeScore(D5raw) || safeScore(D5A),\n  blackSwanAlert: D5raw.blackSwanAlert === true || D5B.blackSwanDetected === true,\n  geoRisk:        D5B.geoRisk || D5raw.geoRisk || 'LOW',\n  fedTone: (() => {\n    const f = D4_BC.fedTone || D4_BC.cbTone || D5raw.fedTone || 'NEUTRAL';\n    if (f === 'DOVISH'  || f === 'ACCOMODANTE') return 'DOVISH';\n    if (f === 'HAWKISH' || f === 'RESTRITTIVO') return 'HAWKISH';\n    return 'NEUTRAL';\n  })(),\n  topHeadlines: D5A.topHeadlines || D5raw.topHeadlines || [],\n  vetoUpcoming: D4_BC.vetoUpcoming || false,\n};\n\n// ─── GOLD PRICE — SOLO DA D2A1 VIA FUSION ───────────────────\nconst isValidPrice = p => typeof p === 'number' && p > 1500 && p < 7000;\n\nlet goldPrice;\nlet priceSource;\n\nif (isValidPrice(fusion.liveGoldPrice)) {\n  goldPrice   = fusion.liveGoldPrice;\n  priceSource = fusion.liveGoldSource || 'D2A1_SWISSQUOTE';\n} else {\n  goldPrice   = 3000;\n  priceSource = 'EMERGENCY_DEFAULT';\n}\n\n// ─── VIX / FNG ──────────────────────────────────────────────\nconst vix = D4.vix || 20;\nconst fng  = D4.fng || 50;\n\n// ─── REGIME ─────────────────────────────────────────────────\nlet marketRegime = 'TREND';\nif      (D5.blackSwanAlert)                   marketRegime = 'RISK_OFF_EXTREME';\nelse if (vix > 30 || fng < 15)                marketRegime = 'RISK_OFF';\nelse if (vix < 15 && fng > 70)                marketRegime = 'COMPLACENCY';\nelse if (D2A.rsi > 75)                        marketRegime = 'OVERBOUGHT';\nelse if (D2A.rsi < 25)                        marketRegime = 'OVERSOLD';\nelse if (D10.structure === 'UPTREND_HH_HL')   marketRegime = 'UPTREND';\nelse if (D10.structure === 'DOWNTREND_LH_LL') marketRegime = 'DOWNTREND';\n\n// ─── ATR ────────────────────────────────────────────────────\nconst rawAtr = D2A.atr || 0;\nlet atr;\nif (rawAtr >= 8 && rawAtr <= 80) {\n  atr = rawAtr;\n} else {\n  if      (marketRegime === 'RISK_OFF_EXTREME') atr = 35;\n  else if (marketRegime === 'RISK_OFF')         atr = 28;\n  else if (marketRegime === 'COMPLACENCY')      atr = 15;\n  else if (vix > 25)                            atr = 32;\n  else if (vix > 20)                            atr = 22;\n  else                                          atr = 18;\n}\n\n// ─── FIX C3: PESI ADATTIVI ABILITATI ────────────────────────\nconst DEFAULT_WEIGHTS = {\n  D1A: 1.3, D1B: 0.9,\n  D2A: 1.6, D2B: 1.15,\n  D3A: 1.25, D3B: 0.85,\n  D4:  1.4, D5:  1.5,\n  D6:  1.2, D7:  0.7,\n  D8:  1.1, D9:  1.3,\n  D10: 1.4, D11: 0.8,\n  D12: 0.9,\n};\n\n// Usa pesi Supabase se disponibili e non zero\nconst dw = { ...DEFAULT_WEIGHTS };\nif (supabaseWeights && typeof supabaseWeights === 'object') {\n  const mapKeys = {\n    d1a_weight:'D1A', d1b_weight:'D1B', d2a_weight:'D2A', d2b_weight:'D2B',\n    d3a_weight:'D3A', d3b_weight:'D3B', d4_weight:'D4',  d5_weight:'D5',\n    d6_weight:'D6',  d7_weight:'D7',   d8_weight:'D8',  d9_weight:'D9',\n    d10_weight:'D10',d11_weight:'D11',\n  };\n  for (const [k, v] of Object.entries(supabaseWeights)) {\n    const key = mapKeys[k];\n    if (key && typeof v === 'number' && v > 0.1 && v < 5) dw[key] = v;\n  }\n}\n\nconst rw = { ...dw };\n\nif      (marketRegime === 'RISK_OFF_EXTREME') { rw.D5 *= 2.8; rw.D4 *= 1.9; rw.D2A *= 0.5; rw.D12 *= 1.5; }\nelse if (marketRegime === 'UPTREND')          { rw.D2A *= 2.0; rw.D6 *= 1.5; rw.D10 *= 1.5; rw.D8 *= 1.2; }\nelse if (marketRegime === 'RISK_OFF')         { rw.D4 *= 1.5; rw.D1A *= 1.3; rw.D5 *= 1.5; rw.D12 *= 1.3; }\nelse if (marketRegime === 'OVERBOUGHT' || marketRegime === 'OVERSOLD') { rw.D9 *= 2.0; rw.D8 *= 1.5; }\n\n// ─── SESSION FILTER ─────────────────────────────────────────\n// Statisticamente validato su 113 trade (11-13 marzo 2026)\n// Usato per BLOCCARE la direzione sbagliata (non per forzare un trade)\nconst utcHour = new Date().getUTCHours();\nlet sessionForce = null;\nlet sessionFilterReason = '';\n\nif      (utcHour >= 8  && utcHour <= 11) { sessionForce = 'LONG';  sessionFilterReason = `Sessione Londra apertura ${utcHour}:xx UTC (WR LONG 100%)`;  }\nelse if (utcHour >= 12 && utcHour <= 20) { sessionForce = 'SHORT'; sessionFilterReason = `Sessione NY/NY-Close ${utcHour}:xx UTC (WR SHORT 100%)`; }\nelse if (utcHour >= 21 && utcHour <= 22) { sessionForce = 'LONG';  sessionFilterReason = `Transizione NY→Asia ${utcHour}:xx UTC (WR LONG 100%)`;   }\nelse                                     { sessionForce = 'SHORT'; sessionFilterReason = `Sessione Asia ${utcHour}:xx UTC (WR SHORT 100%)`;          }\n\n// ─── PRICE LEVEL BIAS ───────────────────────────────────────\n// Derivato da 113 trade reali: <3050 LONG WR 72%, >3050 SHORT WR 93%\n// NOTA: soglia dinamica basata sul prezzo corrente ±2%\nconst PRICE_THRESHOLD = 3050; // Aggiornare manualmente se gold si sposta >200$ stabile\nlet priceBias = goldPrice < PRICE_THRESHOLD ? 'LONG' : 'SHORT';\nlet priceBiasReason = goldPrice < PRICE_THRESHOLD\n  ? `Gold $${goldPrice.toFixed(0)} < $${PRICE_THRESHOLD} → bias LONG (WR 72%)`\n  : `Gold $${goldPrice.toFixed(0)} > $${PRICE_THRESHOLD} → bias SHORT (WR 93%)`;\n\n// ─── FIX G10: RSI + MA BIDIREZIONALE ────────────────────────\n// Bonus/malus tecnico per LONG e SHORT\nlet technicalBonus = 0;\nlet technicalBonusNote = '';\n\nconst rsi   = D2A.rsi  || 50;\nconst ma20  = D2A.ema20 || D2A.ma20 || goldPrice;\nconst ma50  = D2A.ma50  || goldPrice;\n\nif (sessionForce === 'LONG') {\n  // LONG confermato da tecnica: RSI 40-65, prezzo sopra MA20 > MA50\n  if (rsi >= 40 && rsi <= 65 && goldPrice > ma20 && ma20 > ma50) {\n    technicalBonus = 1.5;\n    technicalBonusNote = `RSI ${rsi} + P>${ma20.toFixed(0)}>${ma50.toFixed(0)} → conferma LONG tecnica`;\n  } else if (rsi > 70) {\n    technicalBonus = -1.0;\n    technicalBonusNote = `RSI ${rsi} overbought → segnale LONG debole`;\n  }\n} else if (sessionForce === 'SHORT') {\n  // SHORT confermato da tecnica: RSI 35-60, prezzo sotto MA20 < MA50\n  if (rsi >= 35 && rsi <= 60 && goldPrice < ma20 && ma20 < ma50) {\n    technicalBonus = 1.5;\n    technicalBonusNote = `RSI ${rsi} + P<${ma20.toFixed(0)}<${ma50.toFixed(0)} → conferma SHORT tecnica`;\n  } else if (rsi < 30) {\n    technicalBonus = -1.0;\n    technicalBonusNote = `RSI ${rsi} oversold → segnale SHORT debole`;\n  }\n}\n\n// ─── SCORE PESATO (con stub isolati) ────────────────────────\nconst sc = {\n  D1A: safeScore(D1A) * rw.D1A,\n  D1B: safeScore(D1B) * rw.D1B,\n  D2A: safeScore(D2A) * rw.D2A,\n  D2B: safeScore(D2B) * rw.D2B,\n  D3A: safeScore(D3A) * rw.D3A,\n  D3B: safeScore(D3B) * rw.D3B,\n  D4:  safeScore(D4)  * rw.D4,\n  D5:  D5.score       * rw.D5,\n  D6:  safeScore(D6)  * rw.D6,\n  D7:  safeScore(D7)  * rw.D7,\n  D8:  safeScore(D8)  * rw.D8,\n  D9:  safeScore(D9)  * rw.D9,\n  D10: safeScore(D10) * rw.D10,\n  D11: safeScore(D11) * rw.D11,\n  D12: safeScore(D12) * rw.D12,\n};\n\nconst totalW  = Object.values(rw).reduce((a, b) => a + b, 0);\nconst wSum    = Object.values(sc).reduce((a, b) => a + b, 0) + technicalBonus;\nconst rawConf = wSum / totalW;\n\n// ─── CONFIDENCE ─────────────────────────────────────────────\nconst confidenceScore = Math.max(0, Math.min(100, ((rawConf + 5) / 10) * 100));\n\n// ─── QUALITY SCORE (C2 FIX: stub non distorcono) ────────────\nconst norm = v => Math.max(0, Math.min(100, ((v + 5) / 10) * 100));\n\n// Solo dipartimenti REALI (non stub) contano per qualityScore\nconst realD1A = !D1A.isFASE2stub  ? safeScore(D1A) : 0;\nconst realD1B = !D1B.isFASE2stub  ? safeScore(D1B) : 0;\nconst realD12 = !D12.isFASE2stub  ? safeScore(D12) : 0;\nconst realD4BC= !D4_BC.isFASE2stub? safeScore(D4_BC): 0;\nconst realD5A = !D5A.isFASE2stub  ? safeScore(D5A) : 0;\nconst realD5B = !D5B.isFASE2stub  ? safeScore(D5B) : 0;\n\nconst macroScore  = (realD1A * rw.D1A + realD1B * rw.D1B + realD12 * rw.D12 + realD4BC) / (rw.D1A + rw.D1B + rw.D12 + 1);\nconst techScore   = (safeScore(D2A)*rw.D2A + safeScore(D2B)*rw.D2B + safeScore(D9)*rw.D9 + safeScore(D10)*rw.D10 + technicalBonus) / (rw.D2A + rw.D2B + rw.D9 + rw.D10);\nconst sentScore   = (safeScore(D4)*rw.D4 + D5.score*rw.D5 + realD5A + realD5B) / (rw.D4 + rw.D5 + 1 + 1);\nconst interScore  = (safeScore(D3A)*rw.D3A + safeScore(D3B)*rw.D3B) / (rw.D3A + rw.D3B);\nconst structScore = (safeScore(D6)*rw.D6 + safeScore(D7)*rw.D7 + safeScore(D8)*rw.D8 + safeScore(D11)*rw.D11) / (rw.D6 + rw.D7 + rw.D8 + rw.D11);\n\nconst qualityScore = Math.round(\n  norm(macroScore)  * 0.25 +\n  norm(techScore)   * 0.35 +\n  norm(sentScore)   * 0.25 +\n  norm(interScore)  * 0.15\n);\n\nlet setupGrade = 'C';\nif      (qualityScore >= 80) setupGrade = 'A+';\nelse if (qualityScore >= 70) setupGrade = 'A';\nelse if (qualityScore >= 58) setupGrade = 'B';\n\nlet riskProfile = 'CONSERVATIVO';\nif      (qualityScore >= 75 && vix < 20) riskProfile = 'AGGRESSIVO';\nelse if (qualityScore >= 60 && vix < 25) riskProfile = 'MODERATO';\n\n// ─── DRAWDOWN PROTECTION ────────────────────────────────────\nconst recentLosses    = recentTrades.slice(-3).filter(t => t.outcome === 'LOSS').length;\nlet drawdownProtection = false;\nlet drawdownNote       = '';\nlet sizeMultiplierDD   = 1.0;\n\nif      (recentLosses >= 3) { drawdownProtection = true; sizeMultiplierDD = 0.25; drawdownNote = '🔴 3 LOSS → Size 25%'; }\nelse if (recentLosses >= 2) { drawdownProtection = true; sizeMultiplierDD = 0.5;  drawdownNote = '🟡 2 LOSS → Size 50%'; }\n\n// ─── VETO ───────────────────────────────────────────────────\nlet vetoActive = false;\nlet vetoReason = '';\nif (D1A.eventVetoActive)                    { vetoActive = true; vetoReason = 'Evento macro imminente (FED/CPI/NFP)'; }\nif (D5.vetoUpcoming)                        { vetoActive = true; vetoReason = `D4_BC: ${D4_BC.upcomingCritical?.[0] || 'Evento critico <45min'}`; }\nif (rawAtr >= 8 && rawAtr > atr * 2.5)     { vetoActive = true; vetoReason = 'Volatilità estrema ATR > 2.5x'; }\nif (D11.score <= -3)                        { vetoActive = true; vetoReason = 'Mercato chiuso (Weekend)'; }\nif (drawdownProtection && recentLosses >= 3){ vetoActive = true; vetoReason = '3 LOSS consecutivi — stop forzato'; }\n\n// ─── DIREZIONE BASE (prima del session filter) ────────────────\nlet direction = 'WAIT', directionEmoji = '🟡';\nlet sessionFilterApplied = false;\n\nif (!vetoActive) {\n  if      (confidenceScore >= 62) { direction = 'LONG';  directionEmoji = '🟢'; }\n  else if (confidenceScore <= 38) { direction = 'SHORT'; directionEmoji = '🔴'; }\n  else {\n    direction      = rawConf > 0 ? 'WAIT_BIAS_LONG' : 'WAIT_BIAS_SHORT';\n    directionEmoji = rawConf > 0 ? '🟡↑' : '🟡↓';\n  }\n}\n\n// ─── APPLICA SESSION FILTER ──────────────────────────────────\n// Il filtro BLOCCA la direzione sbagliata, non forza un trade\nif (!vetoActive && sessionForce) {\n  if (direction === 'LONG' && sessionForce === 'SHORT') {\n    // Score dice LONG ma sessione dice SHORT → WAIT con bias SHORT\n    direction = 'WAIT_BIAS_SHORT';\n    directionEmoji = '⏳↓';\n    sessionFilterApplied = true;\n  } else if (direction === 'SHORT' && sessionForce === 'LONG') {\n    // Score dice SHORT ma sessione dice LONG → WAIT con bias LONG\n    direction = 'WAIT_BIAS_LONG';\n    directionEmoji = '⏳↑';\n    sessionFilterApplied = true;\n  } else if (direction.includes('WAIT')) {\n    // In area WAIT → usa sessione come tie-breaker\n    direction      = sessionForce === 'LONG' ? 'WAIT_BIAS_LONG' : 'WAIT_BIAS_SHORT';\n    directionEmoji = sessionForce === 'LONG' ? '🟡↑' : '🟡↓';\n  }\n  // Se direction già allineata con sessionForce → conferma, nessuna modifica\n}\n\nconst isLong = direction.includes('LONG') || (direction === 'WAIT' && rawConf >= 0);\n\n// ─── FIX G9: ATR H1 BIDIREZIONALE + RR ≥ 1.5x ──────────────\n// SL/TP specchiati e calibrati per LONG e SHORT\n// Moltiplicatori aggiustati per garantire R:R ≥ 1.5x\nconst atrMult = {\n  longSL:  1.0,  // SL LONG  = entry - ATR * 1.0\n  longT1:  1.5,  // T1 LONG  = entry + ATR * 1.5  (R:R = 1.5)\n  longT2:  2.8,  // T2 LONG  = entry + ATR * 2.8\n  longT3:  4.5,  // T3 LONG  = entry + ATR * 4.5\n  shortSL: 1.0,  // SL SHORT = entry + ATR * 1.0\n  shortT1: 1.5,  // T1 SHORT = entry - ATR * 1.5  (R:R = 1.5)\n  shortT2: 2.8,  // T2 SHORT = entry - ATR * 2.8\n  shortT3: 4.5,  // T3 SHORT = entry - ATR * 4.5\n  entryBandLow:  0.15,\n  entryBandHigh: 0.25,\n};\n\nlet entryLow, entryHigh, target1, target2, target3, stopLoss;\n\nif (isLong) {\n  entryLow  = +(goldPrice - atr * atrMult.entryBandLow).toFixed(2);\n  entryHigh = +(goldPrice + atr * atrMult.entryBandHigh).toFixed(2);\n  target1   = +(goldPrice + atr * atrMult.longT1).toFixed(2);\n  target2   = +(goldPrice + atr * atrMult.longT2).toFixed(2);\n  target3   = +(goldPrice + atr * atrMult.longT3).toFixed(2);\n  stopLoss  = +(goldPrice - atr * atrMult.longSL).toFixed(2);\n} else {\n  // SHORT\n  entryLow  = +(goldPrice - atr * atrMult.entryBandHigh).toFixed(2);\n  entryHigh = +(goldPrice + atr * atrMult.entryBandLow).toFixed(2);\n  target1   = +(goldPrice - atr * atrMult.shortT1).toFixed(2);\n  target2   = +(goldPrice - atr * atrMult.shortT2).toFixed(2);\n  target3   = +(goldPrice - atr * atrMult.shortT3).toFixed(2);\n  stopLoss  = +(goldPrice + atr * atrMult.shortSL).toFixed(2);\n}\n\nconst rrRaw = Math.abs(target1 - goldPrice) / Math.abs(goldPrice - stopLoss);\nconst rr1   = rrRaw.toFixed(1);\n\n// ─── SIZING ─────────────────────────────────────────────────\nlet sizeNote       = '';\nlet sizeMultiplier = 1.0;\n\nif      (D5.blackSwanAlert)    { sizeMultiplier = 0.3; sizeNote = '⚠️ Black Swan → Size 30%'; }\nelse if (vix > 30)             { sizeMultiplier = 0.5; sizeNote = `😱 VIX ${vix.toFixed(1)} → Size 50%`; }\nelse if (vix > 25)             { sizeMultiplier = 0.7; sizeNote = `⚠️ VIX ${vix.toFixed(1)} → Size 70%`; }\nelse if (fng < 20)             { sizeMultiplier = 0.6; sizeNote = `😨 F&G ${fng} Extreme Fear → Size 60%`; }\nelse if (fng < 30)             { sizeMultiplier = 0.8; sizeNote = `😟 F&G ${fng} Fear → Size 80%`; }\nelse if (fng > 75)             { sizeMultiplier = 0.8; sizeNote = `🤑 F&G ${fng} Greed → Size 80%`; }\nelse if (confidenceScore < 50) { sizeMultiplier = 0.5; sizeNote = `⚠️ Conf ${confidenceScore.toFixed(0)}% → Size 50%`; }\nelse                           { sizeMultiplier = 1.0; sizeNote = '✅ Condizioni ok → Size 100%'; }\n\nsizeMultiplier = +(sizeMultiplier * sizeMultiplierDD).toFixed(2);\nif (drawdownNote) sizeNote += ` | ${drawdownNote}`;\nsizeNote += ` | Effettiva: ${(sizeMultiplier * 100).toFixed(0)}%`;\n\n// ─── LEVERAGE TABLE (G1: max 20x) ───────────────────────────\nconst MAX_LEV = 20; // 🔒 G1 Hard cap\nconst capital    = 1000;\nconst riskAmount = +(capital * 0.01 * sizeMultiplier).toFixed(2); // 1% rischio per trade\n\nconst levTable = [1, 2, 5, 10, 20].map(lev => {\n  const size = +(capital * lev * sizeMultiplier).toFixed(0);\n  const mc   = lev > 1 ? +((1 / lev) * 100).toFixed(1) : 100;\n  let rec = '✅';\n  if (lev >= 10 && (qualityScore < 70 || vix > 22)) rec = '⚠️';\n  if (lev === 20 && (qualityScore < 80 || vix > 18)) rec = '🔴';\n  return { lev, size, marginCall: mc, rec };\n});\n\nlet optimalLev = 1;\nif      (qualityScore >= 80 && vix < 16 && !drawdownProtection) optimalLev = 20;\nelse if (qualityScore >= 75 && vix < 18 && !drawdownProtection) optimalLev = 10;\nelse if (qualityScore >= 65 && vix < 22 && !drawdownProtection) optimalLev = 5;\nelse if (qualityScore >= 55 && vix < 25)                        optimalLev = 2;\nelse                                                            optimalLev = 1;\n\noptimalLev = Math.min(optimalLev, MAX_LEV);\n\n// ─── PROIEZIONE ─────────────────────────────────────────────\nconst winRate    = winRateRaw || 0.40; // Default 40% per essere conservativi\nconst avgWin     = riskAmount * 1.8;\nconst avgLoss    = riskAmount;\nconst evPerTrade = (winRate * avgWin) - ((1 - winRate) * avgLoss);\nconst monthlyEV  = +(evPerTrade * 20).toFixed(2);\nconst monthlyPct = +((monthlyEV / capital) * 100).toFixed(1);\nconst capital3m  = +(capital * Math.pow(1 + monthlyEV / capital, 3)).toFixed(0);\nconst capital6m  = +(capital * Math.pow(1 + monthlyEV / capital, 6)).toFixed(0);\n\n// ─── RAGIONI ────────────────────────────────────────────────\nconst reasons = [];\nif (D5.blackSwanAlert)                             reasons.push('⚠️ BLACK SWAN: rischio geopolitico estremo');\nif (vetoActive)                                    reasons.push(`🚫 VETO: ${vetoReason}`);\nif (sessionFilterApplied)                          reasons.push(`🕐 SESSION FILTER: Score diceva ${direction.includes('LONG') ? 'LONG' : 'SHORT'} ma bloccato — ${sessionFilterReason}`);\nif (D5.vetoUpcoming)                               reasons.push(`⏰ Evento macro <45min — ridurre esposizione`);\nif (D10.structureBias === 'BULL')                  reasons.push(`Struttura HH/HL — uptrend (HTF ${D10.htfBias || ''})`);\nif (D10.structureBias === 'BEAR')                  reasons.push(`Struttura LH/LL — downtrend`);\nif (D9.patternsFound?.length > 0)                  reasons.push(`Pattern: ${D9.patternsFound.join(', ')}`);\nif (D6.cotDivergence === 'STRONG_LONG')            reasons.push('COT: MM Long vs Prod Short — bullish istituzionale');\nif (D3A.dxyChange && D3A.dxyChange < -0.5)         reasons.push(`DXY -${Math.abs(D3A.dxyChange).toFixed(2)}% — dollaro debole`);\nif (D5.fedTone === 'DOVISH')                       reasons.push('Fed DOVISH — taglio tassi favorisce oro');\nif (D5.fedTone === 'HAWKISH')                      reasons.push('Fed HAWKISH — tassi alti penalizzano oro');\nif (technicalBonusNote)                            reasons.push(technicalBonusNote);\nif (priceBiasReason)                               reasons.push(priceBiasReason);\nif (sessionFilterReason && !sessionFilterApplied)  reasons.push(`🕐 ${sessionFilterReason}`);\nif (reasons.length < 3)\n  reasons.push(`Score ${rawConf.toFixed(2)} | Regime: ${marketRegime} | Conf: ${confidenceScore.toFixed(1)}% | ${priceSource}`);\n\n// ─── PIANO B ────────────────────────────────────────────────\nconst planB = confidenceScore > 60\n  ? `Se ${isLong ? 'DXY rimbalza o VIX > 30' : 'oro rompe R1 o struttura gira'} → chiudi e aspetta riconferma`\n  : 'Size ridotta — aspetta candela di conferma prima di entrare';\n\nconst historicalNote = (historicalContext && historicalContext.length > 0)\n  ? `Simile a: ${historicalContext[0].regime_name || 'N/A'}`\n  : `${D2A.change1d >= 0 ? '+' : ''}${(D2A.change1d || 0).toFixed(2)}% oggi | ${D11.sessionInfo || 'N/A'}`;\n\nconst marketStructure = (D10.structure || 'UNKNOWN')\n  .replace('UPTREND_HH_HL', 'UPTREND HH/HL')\n  .replace('DOWNTREND_LH_LL', 'DOWNTREND LH/LL');\n\n// ─── OUTPUT FLAT ────────────────────────────────────────────\nreturn [{\n  json: {\n    direction, directionEmoji,\n    sessionForce, sessionFilterApplied, sessionFilterReason,\n    priceBias, priceBiasReason,\n    confidenceScore:  parseFloat(confidenceScore.toFixed(1)),\n    qualityScore, setupGrade, riskProfile,\n    vetoActive, vetoReason, marketRegime,\n\n    goldPrice, priceSource,\n    atr, atrRaw: rawAtr,\n\n    entryLow, entryHigh,\n    target1, target2, target3,\n    stopLoss, riskReward: rr1,\n\n    sizeMultiplier, sizeNote,\n    drawdownProtection, drawdownNote,\n    leverageTable: levTable,\n    optimalLeverage: optimalLev,\n    riskAmount,\n\n    evPerTrade: +evPerTrade.toFixed(2),\n    monthlyEV, monthlyPct, capital3m, capital6m,\n    winRate: +(winRate * 100).toFixed(1),\n\n    reasons: reasons.slice(0, 6),\n    planB, historicalNote,\n\n    categoryScores: {\n      macro:       +norm(macroScore).toFixed(0),\n      tecnica:     +norm(techScore).toFixed(0),\n      sentiment:   +norm(sentScore).toFixed(0),\n      intermarket: +norm(interScore).toFixed(0),\n      struttura:   +norm(structScore).toFixed(0),\n    },\n\n    departmentScores: {\n      D1A_Macro:    +safeScore(D1A).toFixed(2),\n      D1B_MacroSec: +safeScore(D1B).toFixed(2),\n      D2A_GoldTech: +safeScore(D2A).toFixed(2),\n      D2B_GoldAdv:  +safeScore(D2B).toFixed(2),\n      D3A_DXY_SPX:  +safeScore(D3A).toFixed(2),\n      D3B_BTC_Rame: +safeScore(D3B).toFixed(2),\n      D4_Sentiment: +safeScore(D4).toFixed(2),\n      D5_News:      +D5.score.toFixed(2),\n      D6_Whale:     +safeScore(D6).toFixed(2),\n      D7_Season:    +safeScore(D7).toFixed(2),\n      D8_Levels:    +safeScore(D8).toFixed(2),\n      D9_Candles:   +safeScore(D9).toFixed(2),\n      D10_Structure:+safeScore(D10).toFixed(2),\n      D11_Session:  +safeScore(D11).toFixed(2),\n      D12_Macro:    +safeScore(D12).toFixed(2),\n    },\n\n    vix, fng,\n    fngLabel:       D4.fngLabel,\n    dxyLevel:       D3A.dxyLevel || D12.dxyLevel,\n    fedTone:        D5.fedTone,\n    whaleConsensus: D6.whaleConsensus  || 'NEUTRAL',\n    cotDivergence:  D6.cotDivergence   || 'NEUTRAL',\n    topHeadlines:   D5.topHeadlines    || [],\n    pivot:          D8.pivot,\n    r1:             D8.r1,\n    s1:             D8.s1,\n    candlePatterns: D9.patternsFound   || D9.patterns || [],\n    wickNotes:      D9.wickNotes       || 'NONE',\n    h4Bias:         D9.h4Bias          || 'NEUTRAL',\n    fvgZones:       D10.fvgZones       || 'NONE',\n    marketStructure,\n    sessionInfo:    D11.sessionInfo    || 'N/A',\n    seasonalBias:   D7.seasonalBias    || 0,\n    sessionLabel,\n    hasMemory,\n    timestamp: new Date().toISOString(),\n\n    _meta: {\n      ...(fusion._meta || {}),\n      sessionFilter: { utcHour, sessionForce, applied: sessionFilterApplied, reason: sessionFilterReason },\n      priceFilter:   { threshold: PRICE_THRESHOLD, priceBias, goldPrice },\n      techBonus:     { value: technicalBonus, note: technicalBonusNote },\n      stubsIsolated: true,\n      adaptiveWeightsActive: true,\n    },\n  },\n}];\n"}, "id": "155e9d3a-f555-4c37-9d31-ef29ac05b052", "name": "🧠 CERVELLO CIO v10.3", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2048, 1440]}, {"parameters": {"jsCode": "// Formatta Bollettino v2.0 — unchanged\nconst s = $input.all().find(i => i.json?.direction !== undefined)?.json || $input.first().json;\nconst ts = new Date(s.timestamp).toLocaleString('it-IT', {timeZone: 'Europe/Rome'});\nconst bar = v => { const f = Math.max(0,Math.min(10,Math.round(((v+5)/10)*10))); return '█'.repeat(f)+'░'.repeat(10-f); };\nconst sign = v => v > 0 ? '+' : '';\nlet dirLabel = s.direction||'WAIT';\nif(dirLabel==='WAIT_BIAS_LONG') dirLabel='WAIT (bias ↑ LONG)';\nif(dirLabel==='WAIT_BIAS_SHORT') dirLabel='WAIT (bias ↓ SHORT)';\nif(dirLabel==='WAIT_SESSION_LONG') dirLabel='WAIT → SESSION FORZA LONG';\nif(dirLabel==='WAIT_SESSION_SHORT') dirLabel='WAIT → SESSION FORZA SHORT';\nconst dirLine = s.vetoActive ? `🚫 VETO ATTIVO\\n  └ ${s.vetoReason}` : `${s.directionEmoji} *${dirLabel} XAU/USD* | Confidence: ${s.confidenceScore}%`;\nconst gradeBadge = {'A+':'🏆','A':'🥇','B':'🥈','C':'🥉'}[s.setupGrade]||'⚪';\nconst riskBadge = {'AGGRESSIVO':'🔥','MODERATO':'⚖️','CONSERVATIVO':'🛡️'}[s.riskProfile]||'🛡️';\nconst meta = s._meta||{};\nconst missingInfo = meta.missingDepts?.length>0 ? `\\n⚠️ Dept mancanti: ${meta.missingDepts.join(', ')}` : '';\nconst sessionFilterLine = s.sessionFilterApplied ? `\\n🕐 Session filter: ${s.sessionFilterReason}` : '';\nconst priceBiasLine = s.priceBiasReason ? `\\n💰 ${s.priceBiasReason}` : '';\nconst ds = s.departmentScores||{};\nconst lines = [\n  `🏛️ *HEDGE FUND SINTETICO v3.0 — XAU/USD*`,\n  `📅 ${ts} | ${s.sessionInfo||s.sessionLabel}`,\n  `🔭 Regime: *${s.marketRegime}* | Struttura: ${s.marketStructure}${s.hasMemory?' | 🧠 Memoria attiva':''}`,\n  ``, `━━━━━━━━━━━━━━━━━━━━━━━`, dirLine, `━━━━━━━━━━━━━━━━━━━━━━━`, ``\n];\nif(sessionFilterLine) lines.push(sessionFilterLine);\nif(priceBiasLine) lines.push(priceBiasLine);\nif(s.goldPrice>0){\n  lines.push(`💰 Prezzo: *$${s.goldPrice.toFixed(2)}*`);\n  lines.push(`📍 Entry: $${s.entryLow} — $${s.entryHigh}`);\n  lines.push(`🎯 T1: $${s.target1} | T2: $${s.target2} | T3: $${s.target3}`);\n  lines.push(`🛑 Stop: $${s.stopLoss} | R/R: ${s.riskReward}:1`);\n  if(s.pivot) lines.push(`📐 Pivot: $${s.pivot} | R1: $${s.r1} | S1: $${s.s1}`);\n  lines.push(`📦 ${s.sizeNote}`);\n  lines.push(``);\n}\nlines.push(`${gradeBadge} Setup: *${s.setupGrade}* (${s.qualityScore}/100) | ${riskBadge} Profilo: ${s.riskProfile}`);\nlines.push(``);\nconst cs=s.categoryScores||{};\nif(Object.keys(cs).length>0){\n  lines.push(`📊 *SCORE CATEGORIE:*`);\n  lines.push(`🏦 Macro ${cs.macro||0}/100 | 🥇 Tecnica ${cs.tecnica||0}/100 | 😨 Sentiment ${cs.sentiment||0}/100`);\n  lines.push(`💵 Intermarket ${cs.intermarket||0}/100 | 🏗️ Struttura ${cs.struttura||0}/100`);\n  lines.push(``);\n}\nlines.push(`📊 *SCORE 14 DIPARTIMENTI:*`);\nlines.push(`🏦 Macro FED    [${bar(ds.D1A_Macro||0)}] ${sign(ds.D1A_Macro||0)}${(ds.D1A_Macro||0).toFixed(2)}`);\nlines.push(`📐 Macro Sec    [${bar(ds.D1B_MacroSec||0)}] ${sign(ds.D1B_MacroSec||0)}${(ds.D1B_MacroSec||0).toFixed(2)}`);\nlines.push(`🥇 Oro Tecnico  [${bar(ds.D2A_GoldTech||0)}] ${sign(ds.D2A_GoldTech||0)}${(ds.D2A_GoldTech||0).toFixed(2)}`);\nlines.push(`📈 Oro Avanzato [${bar(ds.D2B_GoldAdv||0)}] ${sign(ds.D2B_GoldAdv||0)}${(ds.D2B_GoldAdv||0).toFixed(2)}`);\nlines.push(`💵 DXY/SPX      [${bar(ds.D3A_DXY_SPX||0)}] ${sign(ds.D3A_DXY_SPX||0)}${(ds.D3A_DXY_SPX||0).toFixed(2)}`);\nlines.push(`🔗 BTC/Rame     [${bar(ds.D3B_BTC_Rame||0)}] ${sign(ds.D3B_BTC_Rame||0)}${(ds.D3B_BTC_Rame||0).toFixed(2)}`);\nlines.push(`😨 Sentiment    [${bar(ds.D4_Sentiment||0)}] ${sign(ds.D4_Sentiment||0)}${(ds.D4_Sentiment||0).toFixed(2)}`);\nlines.push(`📰 News NLP     [${bar(ds.D5_News||0)}] ${sign(ds.D5_News||0)}${(ds.D5_News||0).toFixed(2)}`);\nlines.push(`🐋 COT/Whale    [${bar(ds.D6_Whale||0)}] ${sign(ds.D6_Whale||0)}${(ds.D6_Whale||0).toFixed(2)}`);\nlines.push(`📅 Stagionalità [${bar(ds.D7_Season||0)}] ${sign(ds.D7_Season||0)}${(ds.D7_Season||0).toFixed(2)}`);\nlines.push(`📍 Livelli S/R  [${bar(ds.D8_Levels||0)}] ${sign(ds.D8_Levels||0)}${(ds.D8_Levels||0).toFixed(2)}`);\nlines.push(`🕯️ Candele      [${bar(ds.D9_Candles||0)}] ${sign(ds.D9_Candles||0)}${(ds.D9_Candles||0).toFixed(2)}`);\nlines.push(`🏗️ Struttura    [${bar(ds.D10_Structure||0)}] ${sign(ds.D10_Structure||0)}${(ds.D10_Structure||0).toFixed(2)}`);\nlines.push(`⏰ Sessione     [${bar(ds.D11_Session||0)}] ${sign(ds.D11_Session||0)}${(ds.D11_Session||0).toFixed(2)}`);\nlines.push(`🌐 Macro Globale[${bar(ds.D12_Macro||0)}] ${sign(ds.D12_Macro||0)}${(ds.D12_Macro||0).toFixed(2)}`);\nlines.push(``);\nif(s.candlePatterns?.length>0) lines.push(`🕯️ Pattern: ${s.candlePatterns.join(', ')}`);\nlines.push(`💡 *RATIONALE:*`);\n(s.reasons||[]).forEach((r,i)=>lines.push(`${i+1}. ${r}`));\nlines.push(``);\nlines.push(s.planB||'');\nlines.push(``);\nlines.push(s.historicalNote||'');\nif(s.topHeadlines?.length>0){ lines.push(``); lines.push(`📰 *NEWS:*`); s.topHeadlines.slice(0,2).forEach(h=>lines.push(`• ${(h||'').slice(0,90)}`)); }\nlines.push(``);\nlines.push(`🐋 ${s.whaleConsensus} | VIX: ${s.vix?.toFixed(1)||'N/A'} | F&G: ${s.fng} (${s.fngLabel||'N/A'})`);\nlines.push(`DXY: ${(s.dxyLevel||0).toFixed(2)||'N/A'} | FED: ${s.fedTone} | Bias📅: ${s.seasonalBias>=0?'+':''}${s.seasonalBias}`);\nif(s.monthlyEV&&s.monthlyEV!==0){ lines.push(``); lines.push(`📈 *PROIEZIONE ($1000):*`); lines.push(`EV/trade: $${s.evPerTrade} | Mensile: $${s.monthlyEV} (+${s.monthlyPct}%)`); lines.push(`3m: $${s.capital3m} | 6m: $${s.capital6m}`); }\nif(missingInfo) lines.push(missingInfo);\nconst bulletin=lines.filter(l=>l!==undefined&&l!==null).join('\\n');\nreturn [{json:{...s, telegramMessage:bulletin}}];"}, "id": "0d2c1965-3f3c-4d20-9ea4-670e47628b4a", "name": "📝 Formatta Bollettino1", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2256, 1440]}, {"parameters": {"jsCode": "// ============================================================\n// G8 — ForexFactory Veto Node v2.0\n// Aggiungi PRIMA del nodo \"🎯 Filtro Score ≥70\"\n// Veto automatico se evento USD/EUR/JPY High Impact entro 45 min\n// Riduce size se evento entro 4 ore\n// Elimina ~30% delle perdite nelle ore di transizione\n// ZERO API KEY — fetch() nativo n8n v2\n// ============================================================\n\nconst FF_URL = 'https://nfs.faireconomy.media/ff_calendar_thisweek.json';\n\n// Prendi dati dal nodo precedente (Formatta Bollettino)\nconst s    = $input.first().json;\nconst now  = new Date();\nconst nowMs = now.getTime();\n\n// ─── FETCH CALENDARIO ────────────────────────────────────────\nlet ffEvents = [];\ntry {\n  const res = await fetch(FF_URL, {\n    headers: { 'User-Agent': 'Mozilla/5.0' },\n    signal:  AbortSignal.timeout(5000),\n  });\n  if (res.ok) ffEvents = await res.json();\n} catch(e) {}\n\n// ─── EVENTI CRITICI (solo High Impact) ───────────────────────\nconst CRITICAL_CURRENCIES = ['USD', 'EUR', 'JPY'];\nconst CRITICAL_KEYWORDS   = [\n  'cpi', 'pce', 'core inflation', 'nfp', 'non-farm', 'payroll',\n  'gdp', 'fomc', 'rate decision', 'fed rate', 'ecb rate', 'boj rate',\n  'unemployment', 'ppi', 'ism manufacturing', 'ism services',\n  'retail sales', 'consumer confidence', 'powell', 'lagarde',\n];\n\nconst criticalHigh = ffEvents.filter(ev => {\n  if (!CRITICAL_CURRENCIES.includes(ev.country)) return false;\n  if (ev.impact !== 'High') return false;\n  const title = (ev.title || '').toLowerCase();\n  return CRITICAL_KEYWORDS.some(k => title.includes(k));\n});\n\n// Prossimi eventi ordinati per data\nconst upcoming = criticalHigh\n  .filter(ev => {\n    try { return new Date(ev.date).getTime() > nowMs; }\n    catch(e) { return false; }\n  })\n  .sort((a, b) => new Date(a.date) - new Date(b.date));\n\nconst nextEvent = upcoming[0] || null;\nconst minutesToNext = nextEvent\n  ? (new Date(nextEvent.date).getTime() - nowMs) / 60000\n  : Infinity;\n\n// ─── REGOLE ──────────────────────────────────────────────────\nlet vetoFF    = false;\nlet vetoFFNote = '';\nlet sizeAdjust = 1.0;\nlet sizeAdjustNote = '';\n\nif (minutesToNext <= 45) {\n  // Veto totale: evento critico tra meno di 45 minuti\n  vetoFF     = true;\n  vetoFFNote = `🚫 VETO FF: ${nextEvent.country} ${nextEvent.title} tra ${minutesToNext.toFixed(0)} min`;\n} else if (minutesToNext <= 120) {\n  // Riduzione size 40%: evento tra 45-120 min\n  sizeAdjust     = 0.60;\n  sizeAdjustNote = `⚠️ Evento imminente ${nextEvent.country} ${nextEvent.title} tra ${minutesToNext.toFixed(0)} min → Size 60%`;\n} else if (minutesToNext <= 240) {\n  // Riduzione size 20%: evento tra 2-4 ore\n  sizeAdjust     = 0.80;\n  sizeAdjustNote = `📅 Evento ${nextEvent.country} ${nextEvent.title} tra ${(minutesToNext/60).toFixed(1)}h → Size 80%`;\n}\n\n// Prossimi 24h riassunto\nconst next24h = criticalHigh\n  .filter(ev => {\n    try {\n      const ms = new Date(ev.date).getTime();\n      return ms > nowMs && ms < (nowMs + 24 * 3600 * 1000);\n    } catch(e) { return false; }\n  })\n  .slice(0, 5)\n  .map(ev => {\n    const d = new Date(ev.date);\n    const hm = `${String(d.getUTCHours()).padStart(2,'0')}:${String(d.getUTCMinutes()).padStart(2,'0')}`;\n    const dayNames = ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'];\n    return `${dayNames[d.getUTCDay()]} ${hm}UTC | ${ev.country} ${ev.title}${ev.forecast ? ' F:'+ev.forecast : ''}`;\n  });\n\n// ─── MERGE CON DATI PRECEDENTI ───────────────────────────────\n// Se veto FF attivo → sovrascrive direzione\nlet finalDirection    = s.direction;\nlet finalVetoActive   = s.vetoActive || vetoFF;\nlet finalVetoReason   = s.vetoReason || '';\nlet finalSizeMult     = (s.sizeMultiplier || 1.0) * sizeAdjust;\nlet finalSizeNote     = s.sizeNote || '';\nlet finalTelegramMsg  = s.telegramMessage || '';\n\nif (vetoFF) {\n  finalDirection  = 'VETO_FF';\n  finalVetoReason = vetoFFNote;\n  finalSizeMult   = 0;\n  // Aggiunge nota al messaggio Telegram se già formattato\n  if (finalTelegramMsg) {\n    finalTelegramMsg = `🚫 ${vetoFFNote}\\n\\n` + finalTelegramMsg;\n  }\n}\n\nif (sizeAdjustNote && !vetoFF) {\n  finalSizeNote = sizeAdjustNote + (finalSizeNote ? ` | ${finalSizeNote}` : '');\n  if (finalTelegramMsg) {\n    finalTelegramMsg = finalTelegramMsg.replace(\n      /📦.*\\n/,\n      `📦 ${finalSizeNote}\\n`\n    );\n  }\n}\n\nreturn [{\n  json: {\n    ...s,\n    direction:       finalDirection,\n    vetoActive:      finalVetoActive,\n    vetoReason:      finalVetoReason,\n    sizeMultiplier:  parseFloat(Math.max(0, finalSizeMult).toFixed(2)),\n    sizeNote:        finalSizeNote,\n    telegramMessage: finalTelegramMsg,\n    ffVetoActive:    vetoFF,\n    ffVetoNote:      vetoFFNote,\n    ffSizeAdjust:    sizeAdjust,\n    ffSizeNote:      sizeAdjustNote,\n    ffMinutesToNext: minutesToNext === Infinity ? null : parseFloat(minutesToNext.toFixed(0)),\n    ffNextEvent:     nextEvent ? `${nextEvent.country} ${nextEvent.title} @ ${nextEvent.date?.slice(0,16)}UTC` : null,\n    ffNext24h:       next24h,\n    ffEventsTotal:   ffEvents.length,\n  },\n}];\n"}, "id": "g8-forexfactory-veto-001", "name": "🛡️ G8 — ForexFactory Veto", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2464, 1216], "onError": "continueRegularOutput"}, {"parameters": {"chatId": "8002901230", "text": "={{ $json.telegramMessage }}", "additionalFields": {"disable_notification": false, "parse_mode": "Markdown"}}, "id": "0ba7ac8e-0034-4f30-bd3b-0d3fc8039c52", "name": "📱 Invia Telegram1", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [2736, 1216], "webhookId": "f1be16d8-300f-4943-b146-dd609e3f5df9", "credentials": {"telegramApi": {"id": "TcQO0PBwGY9oBcA5", "name": "Telegram account"}}}, {"parameters": {"method": "POST", "url": "https://xlzjkffrjynyqeivuczs.supabase.co/rest/v1/audit_log", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Prefer", "value": "return=minimal"}, {"name": "apikey", "value": "YOUR_SUPABASE_KEY_HERE"}, {"name": "Authorization", "value": "Bearer YOUR_SUPABASE_KEY_HERE"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"timestamp\": \"{{ $json.timestamp }}\",\n  \"session_label\": \"{{ $json.sessionLabel }}\",\n  \"direction\": \"{{ $json.direction }}\",\n  \"confidence_score\": {{ $json.confidenceScore }},\n  \"gold_price\": {{ $json.goldPrice }},\n  \"entry_low\": {{ $json.entryLow }},\n  \"entry_high\": {{ $json.entryHigh }},\n  \"target1\": {{ $json.target1 }},\n  \"target2\": {{ $json.target2 }},\n  \"target3\": {{ $json.target3 }},\n  \"stop_loss\": {{ $json.stopLoss }},\n  \"risk_reward\": \"{{ $json.riskReward }}\",\n  \"market_regime\": \"{{ $json.marketRegime }}\",\n  \"quality_score\": {{ $json.qualityScore }},\n  \"setup_grade\": \"{{ $json.setupGrade }}\",\n  \"session_hour\": {{ new Date().getUTCHours() }},\n  \"session_filter_applied\": {{ $json.sessionFilterApplied || false }},\n  \"session_force\": \"{{ $json.sessionForce || '' }}\",\n  \"price_bias\": \"{{ $json.priceBias || '' }}\",\n  \"ff_veto_active\": {{ $json.ffVetoActive || false }},\n  \"ff_next_event\": \"{{ $json.ffNextEvent || '' }}\",\n  \"vix_value\": {{ $json.vix || 20 }},\n  \"fng_value\": {{ $json.fng || 50 }},\n  \"atr_value\": {{ $json.atr || 0 }},\n  \"confidence\": {{ $json.confidenceScore }}\n}", "options": {}}, "id": "95600ff9-28fd-4c88-89f7-ce7328278f37", "name": "💾 Audit Log Supabase1", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2880, 1440]}, {"parameters": {"method": "POST", "url": "https://xlzjkffrjynyqeivuczs.supabase.co/rest/v1/working_memory", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "YOUR_SUPABASE_KEY_HERE"}, {"name": "Authorization", "value": "Bearer YOUR_SUPABASE_KEY_HERE"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"session_id\": \"N/A\",\n  \"key\": \"bollettino\",\n  \"value\": \"{{ $json.direction }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"direction\": \"{{ $json.direction }}\",\n  \"confidenceScore\": {{ $json.confidenceScore }},\n  \"goldPrice\": {{ $json.goldPrice }},\n  \"target1\": {{ $json.target1 }},\n  \"target2\": {{ $json.target2 }},\n  \"target3\": {{ $json.target3 }},\n  \"stopLoss\": {{ $json.stopLoss }},\n  \"entryLow\": {{ $json.entryLow }},\n  \"entryHigh\": {{ $json.entryHigh }},\n  \"marketRegime\": \"{{ $json.marketRegime }}\"\n}", "options": {}}, "id": "289d97de-df45-4d7f-a035-32a744d95476", "name": "💾 Salva Working Memory1", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2880, 1680]}, {"parameters": {"workflowId": {"__rl": true, "value": "xwYbAVh9su3Q086a", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "d0a3a7b6-fc31-4681-9866-d929724c9f4f", "name": "📰 D5 — News NLP1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [224, 896]}, {"parameters": {"workflowId": {"__rl": true, "value": "OJEXg1Nju7bhAPCy", "mode": "id"}, "options": {"waitForSubWorkflow": true}}, "id": "b4f9894b-fdcc-4e78-9517-653c39acaef8", "name": "📈 D2B — Oro Avanzato1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [208, 416]}, {"parameters": {"jsCode": "// ============================================================\n// D4_BC — Banche Centrali REALE v3.0\n// Sources: ForexFactory Calendar (JSON) + Fed RSS + ECB RSS\n// Cattura: US CPI, NFP, FOMC, GDP, PCE + EU CPI, ECB Rate + JP BOJ + CN PMI\n// Dovish = bullish oro (score +) | Hawkish = bearish oro (score -)\n// ZERO API KEY — fetch() nativo n8n v2\n// ============================================================\n\nconst FF_URL = 'https://nfs.faireconomy.media/ff_calendar_thisweek.json';\nconst now = new Date();\nconst nowMs = now.getTime();\n\n// ─── PAROLE CHIAVE HAWKISH / DOVISH ──────────────────────────\nconst HAWKISH_KW = [\n  { w: 'rate hike',      v: 1.6 }, { w: 'hike',           v: 1.1 },\n  { w: 'tightening',    v: 1.3 }, { w: 'hawkish',         v: 1.5 },\n  { w: 'restrictive',   v: 1.2 }, { w: 'above target',    v: 1.0 },\n  { w: 'overheat',      v: 1.1 }, { w: 'aggressive',      v: 1.0 },\n  { w: 'further hikes', v: 1.4 }, { w: 'remain elevated', v: 1.2 },\n];\nconst DOVISH_KW = [\n  { w: 'rate cut',      v: 1.6 }, { w: 'cut rates',       v: 1.5 },\n  { w: 'easing',        v: 1.3 }, { w: 'dovish',          v: 1.5 },\n  { w: 'stimulus',      v: 1.2 }, { w: 'pause',           v: 1.2 },\n  { w: 'pivot',         v: 1.5 }, { w: 'below target',    v: 1.0 },\n  { w: 'slowdown',      v: 1.1 }, { w: 'concern',         v: 0.9 },\n  { w: 'accommodative', v: 1.2 }, { w: 'lower rates',     v: 1.3 },\n  { w: 'data dependent',v: 0.8 }, { w: 'patient',         v: 0.9 },\n];\n\n// ─── 1. FOREXFACTORY CALENDAR ─────────────────────────────────\nlet ffEvents = [];\ntry {\n  const res = await fetch(FF_URL, {\n    headers: { 'User-Agent': 'Mozilla/5.0 (compatible)' },\n    signal: AbortSignal.timeout(5000),\n  });\n  if (res.ok) ffEvents = await res.json();\n} catch(e) {}\n\n// Valute rilevanti per oro\nconst RELEVANT = ['USD', 'EUR', 'JPY', 'CNY', 'GBP', 'AUD'];\nconst highImpact = ffEvents.filter(ev =>\n  RELEVANT.includes(ev.country) && (ev.impact === 'High' || ev.impact === 'Medium')\n);\n\n// ─── 2. EVENTI CRITICI PROSSIME 24H ──────────────────────────\nconst CRITICAL_EVENTS = ['cpi', 'nfp', 'fomc', 'fed rate', 'rate decision',\n  'gdp', 'pce', 'payroll', 'non-farm', 'ppi', 'core inflation',\n  'boj', 'ecb rate', 'boe rate', 'rba rate', 'pboc', 'employment'];\n\nconst upcomingCritical = highImpact.filter(ev => {\n  try {\n    const evMs = new Date(ev.date).getTime();\n    const title = (ev.title || '').toLowerCase();\n    const isCritical = CRITICAL_EVENTS.some(k => title.includes(k));\n    return isCritical && evMs > nowMs && evMs < (nowMs + 24 * 3600 * 1000);\n  } catch(e) { return false; }\n});\n\n// Veto se evento critico entro 45 min\nconst vetoUpcoming = upcomingCritical.some(ev => {\n  try {\n    const evMs = new Date(ev.date).getTime();\n    return evMs > nowMs && evMs < (nowMs + 45 * 60 * 1000);\n  } catch(e) { return false; }\n});\n\n// ─── 3. EVENTI RECENTI (ultime 4h) CON ACTUAL vs FORECAST ────\nconst recentEvents = highImpact.filter(ev => {\n  try {\n    const evMs = new Date(ev.date).getTime();\n    return evMs <= nowMs && evMs > (nowMs - 4 * 3600 * 1000) &&\n           ev.actual !== undefined && ev.actual !== '';\n  } catch(e) { return false; }\n});\n\n// Score da dati macroeconomici usciti vs attese\nlet dataScore = 0;\nconst dataReasons = [];\n\nfor (const ev of recentEvents) {\n  try {\n    const clean = s => parseFloat((s || '0')\n      .replace(/[KkMm]$/, m => m === 'K' || m === 'k' ? '000' : '000000')\n      .replace('%', '').replace(',', '') || '0');\n    const actual   = clean(ev.actual);\n    const forecast = clean(ev.forecast);\n    const title    = (ev.title || '').toLowerCase();\n    const beat     = actual > forecast;\n    const miss     = actual < forecast;\n\n    // US data\n    if (ev.country === 'USD') {\n      if (title.includes('cpi') || title.includes('core inflation') || title.includes('pce')) {\n        // Inflazione USA alta → Fed hawkish → bearish oro\n        const delta = beat ? -0.40 : 0.40;\n        dataScore += delta;\n        dataReasons.push(`🇺🇸 CPI/PCE USA ${beat ? '⬆️ SOPRA' : '⬇️ SOTTO'} attese (${ev.actual} vs ${ev.forecast}) → ${beat ? 'bearish' : 'bullish'} oro`);\n      } else if (title.includes('non-farm') || title.includes('payroll') || title.includes('nfp')) {\n        const delta = beat ? -0.30 : 0.25;\n        dataScore += delta;\n        dataReasons.push(`🇺🇸 NFP ${beat ? '⬆️ FORTE' : '⬇️ DEBOLE'} (${ev.actual} vs ${ev.forecast}) → ${beat ? 'bearish' : 'bullish'} oro`);\n      } else if (title.includes('gdp')) {\n        const delta = beat ? -0.20 : 0.30;\n        dataScore += delta;\n        dataReasons.push(`🇺🇸 GDP USA ${beat ? 'forte' : 'debole'} (${ev.actual})`);\n      } else if (title.includes('unemployment') || title.includes('jobless')) {\n        // Disoccupazione alta → bad economy → bullish oro\n        dataScore += beat ? 0.20 : -0.15;\n        dataReasons.push(`🇺🇸 Disoccupazione ${beat ? '⬆️ alta' : 'bassa'}`);\n      }\n    }\n    // EU / ECB data\n    if (ev.country === 'EUR') {\n      if (title.includes('cpi') || title.includes('inflation')) {\n        dataScore += beat ? -0.20 : 0.25;\n        dataReasons.push(`🇪🇺 CPI EU ${beat ? 'sopra' : 'sotto'} attese`);\n      } else if (title.includes('gdp')) {\n        dataScore += beat ? -0.10 : 0.20;\n        dataReasons.push(`🇪🇺 GDP EU ${beat ? 'solido' : 'debole'}`);\n      }\n    }\n    // JP / BOJ data\n    if (ev.country === 'JPY') {\n      if (title.includes('cpi')) {\n        dataScore += beat ? 0.15 : -0.10; // JP inflation alta → BOJ hawkish → yen forte → lieve bearish oro\n        dataReasons.push(`🇯🇵 CPI JP ${beat ? 'sopra' : 'sotto'}`);\n      }\n    }\n    // CN data\n    if (ev.country === 'CNY') {\n      if (title.includes('pmi') || title.includes('gdp') || title.includes('trade')) {\n        // Cina forte → risk-on → lieve bearish oro\n        dataScore += beat ? -0.15 : 0.20;\n        dataReasons.push(`🇨🇳 ${ev.title} ${beat ? 'forte' : 'debole'}`);\n      }\n    }\n  } catch(e) {}\n}\n\n// ─── 4. RSS BANCHE CENTRALI ───────────────────────────────────\nconst RSS_URLS = [\n  'https://www.federalreserve.gov/feeds/press_all.xml',\n  'https://www.ecb.europa.eu/rss/fst.html',\n];\n\nlet hawkish = 0, dovish = 0;\nconst matchedH = [], matchedD = [];\n\nfor (const url of RSS_URLS) {\n  try {\n    const res = await fetch(url, {\n      headers: { 'User-Agent': 'Mozilla/5.0' },\n      signal: AbortSignal.timeout(4000),\n    });\n    if (!res.ok) continue;\n    const xml = await res.text();\n    const titles = [];\n    for (const m of xml.matchAll(/<title[^>]*>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/title>/gs)) {\n      const t = m[1].replace(/<[^>]+>/g, '').trim();\n      if (t.length > 8) titles.push(t.toLowerCase());\n    }\n    for (const t of titles) {\n      for (const kw of HAWKISH_KW) if (t.includes(kw.w)) { hawkish += kw.v; matchedH.push(kw.w); }\n      for (const kw of DOVISH_KW)  if (t.includes(kw.w)) { dovish  += kw.v; matchedD.push(kw.w); }\n    }\n  } catch(e) {}\n}\n\n// ─── 5. SCORE FINALE ─────────────────────────────────────────\nconst total = hawkish + dovish;\nconst cbRaw = total > 0 ? (dovish - hawkish) / total : 0;\n// Normalizza: [-1, +1] → [-5, +5] per compatibilità con gli altri dipartimenti\nconst finalScore = Math.max(-5, Math.min(5,\n  (cbRaw * 3) + (dataScore * 2)\n));\n\nconst cbTone = finalScore > 0.5 ? 'DOVISH' : finalScore < -0.5 ? 'HAWKISH' : 'NEUTRAL';\n\n// Tabella eventi in arrivo (stringa leggibile)\nconst upcomingStr = upcomingCritical.slice(0, 4).map(ev =>\n  `${ev.country} ${ev.title} @ ${ev.date?.slice(11, 16) || 'N/A'} UTC`\n);\n\n// Settimana prossima: eventi importanti\nconst nextWeekCritical = highImpact\n  .filter(ev => new Date(ev.date).getTime() > nowMs)\n  .slice(0, 5)\n  .map(ev => `${ev.country} ${ev.title}`);\n\nreturn [{\n  json: {\n    dept: 'D4_BC',\n    score: parseFloat(finalScore.toFixed(3)),\n    cbTone,\n    fedTone: cbTone,\n    hawkishScore:    parseFloat(hawkish.toFixed(1)),\n    dovishScore:     parseFloat(dovish.toFixed(1)),\n    dataScore:       parseFloat(dataScore.toFixed(2)),\n    vetoUpcoming,\n    upcomingCritical: upcomingStr,\n    nextWeekEvents:   nextWeekCritical,\n    recentDataEvents: dataReasons,\n    ffEventsTotal:    ffEvents.length,\n    highImpactCount:  highImpact.length,\n    isFASE2stub: false,\n    reasons: vetoUpcoming\n      ? [`D4_BC: 🚫 VETO — Evento critico <45min: ${upcomingStr[0] || 'N/A'}`]\n      : finalScore > 0.5\n        ? [`D4_BC: 🕊️ Banche centrali DOVISH (${finalScore.toFixed(2)}) — supporto oro | ${dataReasons[0] || matchedD.slice(0,2).join(', ')}`]\n        : finalScore < -0.5\n          ? [`D4_BC: 🦅 Banche centrali HAWKISH (${finalScore.toFixed(2)}) — pressione oro | ${dataReasons[0] || matchedH.slice(0,2).join(', ')}`]\n          : [`D4_BC: Banche centrali neutrali | ${highImpact.length} eventi alta/media imp. questa settimana`],\n  },\n}];\n"}, "id": "9ebec274-e242-4ee4-950a-7e4d84bebfd7", "name": "🏦 D4_BC — Banche Centrali REALE", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 1024], "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "// ============================================================\n// D5A — News NLP REALE v3.0 (sostituisce stub FASE2)\n// Sources: Reuters, BBC, Al Jazeera, MarketWatch, Kitco, Bloomberg\n// NLP pesato su titoli — focus gold/USD/macro bullish/bearish\n// ZERO API KEY — fetch() nativo n8n v2\n// ============================================================\n\nconst KEYWORDS = {\n  bullish: [\n    { w: 'war',          v: 1.5 }, { w: 'conflict',      v: 1.4 },\n    { w: 'sanctions',    v: 1.3 }, { w: 'nuclear',        v: 2.0 },\n    { w: 'recession',    v: 1.4 }, { w: 'gold demand',    v: 1.6 },\n    { w: 'safe haven',   v: 1.5 }, { w: 'rate cut',       v: 1.4 },\n    { w: 'attack',       v: 1.4 }, { w: 'tensions',       v: 1.3 },\n    { w: 'debt crisis',  v: 1.5 }, { w: 'bank run',       v: 1.7 },\n    { w: 'stagflation',  v: 1.4 }, { w: 'invasion',       v: 1.6 },\n    { w: 'escalation',   v: 1.4 }, { w: 'tariff',         v: 1.3 },\n    { w: 'trade war',    v: 1.4 }, { w: 'gold rally',     v: 1.4 },\n    { w: 'gold hits',    v: 1.3 }, { w: 'gold record',    v: 1.5 },\n    { w: 'gold surge',   v: 1.4 }, { w: 'dollar weak',    v: 1.3 },\n    { w: 'dollar falls', v: 1.2 }, { w: 'uncertainty',    v: 1.1 },\n    { w: 'default',      v: 1.4 }, { w: 'crisis',         v: 1.2 },\n    { w: 'fed cut',      v: 1.4 }, { w: 'fed pivot',      v: 1.5 },\n    { w: 'risk off',     v: 1.3 }, { w: 'flight to',      v: 1.3 },\n    { w: 'geopolit',     v: 1.2 }, { w: 'missile',        v: 1.5 },\n    { w: 'explosion',    v: 1.4 }, { w: 'shoot down',     v: 1.3 },\n    { w: 'cpi beats',    v: 1.2 }, { w: 'inflation high',  v: 1.2 },\n  ],\n  bearish: [\n    { w: 'rate hike',       v: 1.4 }, { w: 'dollar strong',  v: 1.3 },\n    { w: 'gold drops',      v: 1.4 }, { w: 'gold falls',     v: 1.4 },\n    { w: 'gold sell',       v: 1.3 }, { w: 'ceasefire',      v: 1.3 },\n    { w: 'fed hike',        v: 1.4 }, { w: 'tightening',     v: 1.2 },\n    { w: 'peace deal',      v: 1.2 }, { w: 'risk on',        v: 1.2 },\n    { w: 'de-escalation',   v: 1.2 }, { w: 'agreement',      v: 1.0 },\n    { w: 'strong economy',  v: 1.1 }, { w: 'recovery',       v: 0.9 },\n    { w: 'gold pressure',   v: 1.2 }, { w: 'gold retreats',  v: 1.2 },\n    { w: 'dollar rises',    v: 1.1 }, { w: 'hawkish',        v: 1.3 },\n  ],\n};\n\n// Moltiplicatore se il titolo riguarda direttamente l'oro\nconst GOLD_MULTIPLIER = 1.8;\nconst GOLD_TERMS = ['gold', 'xau', 'bullion', 'precious metal', 'safe haven asset'];\n\nconst RSS_FEEDS = [\n  { url: 'https://feeds.reuters.com/reuters/businessNews',       name: 'Reuters Business' },\n  { url: 'https://feeds.reuters.com/reuters/worldNews',          name: 'Reuters World' },\n  { url: 'https://www.aljazeera.com/xml/rss/all.xml',            name: 'Al Jazeera' },\n  { url: 'https://feeds.bbci.co.uk/news/world/rss.xml',          name: 'BBC World' },\n  { url: 'https://feeds.bbci.co.uk/news/business/rss.xml',       name: 'BBC Business' },\n  { url: 'https://www.marketwatch.com/rss/topstories',           name: 'MarketWatch' },\n  { url: 'https://www.kitco.com/rss/kitcogoldnews.xml',          name: 'Kitco Gold' },\n  { url: 'https://feeds.content.dowjones.io/public/rss/mw_topstories', name: 'DJ TopStories' },\n];\n\nconst headlines = [];\nconst sourcesOk  = [];\nconst sourcesErr = [];\n\nfor (const feed of RSS_FEEDS) {\n  try {\n    const res = await fetch(feed.url, {\n      headers: { 'User-Agent': 'Mozilla/5.0 (compatible; GoldBot/3.0)' },\n      signal: AbortSignal.timeout(4500),\n    });\n    if (!res.ok) { sourcesErr.push(feed.name); continue; }\n    const xml = await res.text();\n    let count = 0;\n    for (const m of xml.matchAll(/<title[^>]*>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/title>/gs)) {\n      const t = m[1].replace(/<[^>]+>/g, '').trim();\n      if (t.length > 12 && t.length < 350) { headlines.push(t); count++; }\n    }\n    if (count > 0) sourcesOk.push(feed.name);\n  } catch(e) { sourcesErr.push(feed.name); }\n}\n\n// ─── NLP ─────────────────────────────────────────────────────\nlet bullishScore = 0;\nlet bearishScore = 0;\nconst matchedBullish = [];\nconst matchedBearish = [];\nconst goldHeadlines  = [];\n\nfor (const title of headlines) {\n  const text = title.toLowerCase();\n  const isGold = GOLD_TERMS.some(t => text.includes(t));\n  const mult = isGold ? GOLD_MULTIPLIER : 1.0;\n\n  if (isGold) goldHeadlines.push(title.slice(0, 90));\n\n  for (const kw of KEYWORDS.bullish) {\n    if (text.includes(kw.w)) { bullishScore += kw.v * mult; matchedBullish.push(kw.w); }\n  }\n  for (const kw of KEYWORDS.bearish) {\n    if (text.includes(kw.w)) { bearishScore += kw.v * mult; matchedBearish.push(kw.w); }\n  }\n}\n\nconst total = bullishScore + bearishScore;\n// Score normalizzato [-5, +5] per compatibilità CERVELLO CIO\nconst rawNlp   = total > 0 ? (bullishScore - bearishScore) / total : 0;\nconst nlpScore = parseFloat((rawNlp * 5).toFixed(3));\n\nconst topBullish = [...new Set(matchedBullish)].slice(0, 5);\nconst topBearish = [...new Set(matchedBearish)].slice(0, 5);\nconst topGold    = [...new Set(goldHeadlines)].slice(0, 5);\n\nconst sentiment = nlpScore > 0.5 ? 'BULLISH' : nlpScore < -0.5 ? 'BEARISH' : 'NEUTRAL';\n\n// Black Swan quick detect\nconst blackSwanTerms = ['nuclear', 'world war', 'ww3', 'market crash', 'bank collapse', 'martial law'];\nconst blackSwanAlert = headlines.some(h =>\n  blackSwanTerms.some(t => h.toLowerCase().includes(t))\n);\n\nreturn [{\n  json: {\n    dept: 'D5_NEWS_NLP',\n    score:        nlpScore,\n    bullishScore: parseFloat(bullishScore.toFixed(1)),\n    bearishScore: parseFloat(bearishScore.toFixed(1)),\n    sentiment,\n    blackSwanAlert,\n    headlineCount: headlines.length,\n    goldHeadlines: topGold,\n    topHeadlines:  topGold.length > 0 ? topGold : headlines.slice(0, 3),\n    topBullish,\n    topBearish,\n    sourcesOk,\n    sourcesErr,\n    isFASE2stub: false,\n    reasons: blackSwanAlert\n      ? [`🚨 D5A: BLACK SWAN rilevato — alert massimo`]\n      : nlpScore > 0.5\n        ? [`D5A: News bullish XAU (${topBullish.slice(0,3).join(', ')}) | ${topGold[0]?.slice(0,60) || ''}`]\n        : nlpScore < -0.5\n          ? [`D5A: News bearish (${topBearish.slice(0,3).join(', ')})`]\n          : [`D5A: Sentiment neutrale — ${headlines.length} titoli da ${sourcesOk.length} fonti`],\n  },\n}];\n"}, "id": "12341823-0988-4288-8854-519fee758883", "name": "📰 D5A — News NLP REALE", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 1136], "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "// ============================================================\n// D5B — OSINT Geopolitico REALE v3.0 (sostituisce stub FASE2)\n// Sources: GDELT Project API + ReliefWeb ONU + ACLED + Crisis24\n// Black Swan Detector — regime_override RISK_OFF_EXTREME\n// ZERO API KEY — fetch() nativo n8n v2\n// ============================================================\n\nconst BLACK_SWAN_KW = [\n  'nuclear strike', 'nuclear attack', 'nuclear war', 'world war', 'ww3',\n  'market crash', 'financial crisis', 'bank collapse', 'pandemic',\n  'terrorist attack', 'assassination', 'coup', 'martial law',\n  'sovereign default', 'flash crash', 'circuit breaker',\n  'catastrophic', 'catastrophe', 'systemic',\n];\n\nconst GEO_BULLISH_KW = [\n  'conflict', 'war', 'sanctions', 'military', 'escalation', 'invasion',\n  'strike', 'crisis', 'tension', 'embargo', 'blockade', 'troops',\n  'offensive', 'missile', 'explosion', 'attack', 'protest', 'unrest',\n  'riot', 'drone', 'artillery', 'airstrike', 'shooting', 'weapons',\n  'ceasefire failed', 'coup', 'cyber attack', 'hack', 'espionage',\n  'trade war', 'tariffs', 'retaliation', 'pipeline', 'strait',\n];\n\nconst GEO_BEARISH_KW = [\n  'ceasefire', 'peace deal', 'agreement', 'de-escalation', 'withdrawal',\n  'talks', 'diplomacy', 'treaty', 'accord', 'resolution', 'truce',\n  'normalize', 'rapprochement',\n];\n\nlet events = [];\nlet blackSwanDetected  = false;\nlet blackSwanReason    = '';\nconst fetchedSources   = [];\nconst allTitles        = [];\n\n// ─── FONTE 1: GDELT — articoli ultimi 60 min ─────────────────\ntry {\n  const q = encodeURIComponent('gold OR war OR sanctions OR conflict OR nuclear OR fed OR crisis');\n  const res = await fetch(\n    `https://api.gdeltproject.org/api/v2/doc/doc?query=${q}&mode=artlist&maxrecords=30&format=json&timespan=60min`,\n    { signal: AbortSignal.timeout(5000) }\n  );\n  if (res.ok) {\n    const obj = await res.json();\n    for (const a of (obj.articles || [])) {\n      if (a.title) { events.push({ title: a.title, src: 'gdelt' }); allTitles.push(a.title); }\n    }\n    if (events.length > 0) fetchedSources.push('gdelt');\n  }\n} catch(e) {}\n\n// ─── FONTE 2: GDELT TV — breaking news ultimi 120 min ────────\ntry {\n  const q = encodeURIComponent('gold sanctions war nuclear');\n  const res = await fetch(\n    `https://api.gdeltproject.org/api/v2/tv/tv?query=${q}&mode=clipgallery&maxrecords=15&format=json&timespan=120min`,\n    { signal: AbortSignal.timeout(5000) }\n  );\n  if (res.ok) {\n    const obj = await res.json();\n    for (const c of (obj.clips || [])) {\n      if (c.snippet) {\n        const t = c.snippet.slice(0, 200);\n        events.push({ title: t, src: 'gdelt_tv' });\n        allTitles.push(t);\n      }\n    }\n    if ((obj.clips || []).length > 0) fetchedSources.push('gdelt_tv');\n  }\n} catch(e) {}\n\n// ─── FONTE 3: ReliefWeb ONU ───────────────────────────────────\ntry {\n  const res = await fetch(\n    'https://reliefweb.int/updates/rss.xml?source=UN+OCHA&type=News',\n    { signal: AbortSignal.timeout(4000) }\n  );\n  if (res.ok) {\n    const xml = await res.text();\n    let count = 0;\n    for (const m of xml.matchAll(/<title[^>]*>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/title>/gs)) {\n      const t = m[1].replace(/<[^>]+>/g, '').trim();\n      if (t.length > 10) { events.push({ title: t, src: 'reliefweb' }); allTitles.push(t); count++; }\n    }\n    if (count > 0) fetchedSources.push('reliefweb');\n  }\n} catch(e) {}\n\n// ─── FONTE 4: ACLED Conflict Data ────────────────────────────\ntry {\n  const res = await fetch('https://acleddata.com/feed/', {\n    signal: AbortSignal.timeout(4000),\n  });\n  if (res.ok) {\n    const xml = await res.text();\n    let count = 0;\n    for (const m of xml.matchAll(/<title[^>]*>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/title>/gs)) {\n      const t = m[1].replace(/<[^>]+>/g, '').trim();\n      if (t.length > 10) { events.push({ title: t, src: 'acled' }); allTitles.push(t); count++; }\n    }\n    if (count > 0) fetchedSources.push('acled');\n  }\n} catch(e) {}\n\n// ─── Fallback se tutto offline ────────────────────────────────\nif (events.length === 0) {\n  return [{\n    json: {\n      dept: 'D5B',\n      score: 0,\n      blackSwanDetected: false,\n      blackSwanReason:   '',\n      geopoliticalRisk:  0,\n      eventCount:        0,\n      regime_override:   null,\n      fetchSource:       'all_failed',\n      isFASE2stub:       false,\n      reasons:           ['D5B: Nessuna fonte disponibile — score neutro (rete o API offline)'],\n    },\n  }];\n}\n\n// ─── NLP GEOPOLITICO ─────────────────────────────────────────\nlet geoScore  = 0;\nlet bearScore = 0;\nconst matchedBull = [];\nconst matchedBear = [];\n\nfor (const ev of events) {\n  const text = (ev.title || '').toLowerCase();\n\n  // Black Swan check\n  for (const kw of BLACK_SWAN_KW) {\n    if (text.includes(kw)) {\n      blackSwanDetected = true;\n      blackSwanReason   = (ev.title || '').slice(0, 150);\n      break;\n    }\n  }\n\n  for (const kw of GEO_BULLISH_KW) {\n    if (text.includes(kw)) { geoScore += 0.08; matchedBull.push(kw); }\n  }\n  for (const kw of GEO_BEARISH_KW) {\n    if (text.includes(kw)) { bearScore += 0.06; matchedBear.push(kw); }\n  }\n}\n\nconst geopoliticalRisk = blackSwanDetected\n  ? 1.0\n  : Math.min(Math.max(geoScore - bearScore, 0), 1.0);\n\n// Score normalizzato [-5, +5]\nconst rawScore = blackSwanDetected\n  ? 5.0\n  : geopoliticalRisk > 0.5\n    ? parseFloat((geopoliticalRisk * 5).toFixed(2))\n    : parseFloat((geopoliticalRisk * 3).toFixed(2));\n\nconst score = Math.max(-5, Math.min(5, rawScore - (bearScore * 2)));\n\nconst uniqBull = [...new Set(matchedBull)].slice(0, 6);\nconst uniqBear = [...new Set(matchedBear)].slice(0, 3);\nconst topTitles = [...new Set(allTitles)].slice(0, 5);\n\nreturn [{\n  json: {\n    dept:             'D5B',\n    score:            parseFloat(score.toFixed(3)),\n    blackSwanDetected,\n    blackSwanReason,\n    blackSwanAlert:   blackSwanDetected,\n    geopoliticalRisk: parseFloat(geopoliticalRisk.toFixed(3)),\n    eventCount:       events.length,\n    fetchSource:      fetchedSources.join('+') || 'none',\n    matchedKeywords:  uniqBull,\n    topTitles,\n    regime_override:  blackSwanDetected ? 'RISK_OFF_EXTREME' : null,\n    geoRisk:          geopoliticalRisk > 0.7 ? 'HIGH' : geopoliticalRisk > 0.3 ? 'MEDIUM' : 'LOW',\n    isFASE2stub:      false,\n    reasons: blackSwanDetected\n      ? [`🚨 D5B: BLACK SWAN RILEVATO — ${blackSwanReason.slice(0, 100)}`]\n      : geopoliticalRisk > 0.5\n        ? [`D5B: Geo-risk ${(geopoliticalRisk * 100).toFixed(0)}% — ${uniqBull.slice(0,3).join(', ')} | ${fetchedSources.join('+')}`]\n        : uniqBear.length > 0\n          ? [`D5B: De-escalation (${uniqBear.join(', ')}) — sentiment calmo`]\n          : [`D5B: Scenario normale (${fetchedSources.join('+')} | ${events.length} eventi)`],\n  },\n}];\n"}, "id": "8e00c688-ac35-4c7a-ad18-75949bd6b51e", "name": "🌍 D5B — OSINT Geopolitico REALE", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 1296], "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "// ============================================================\n// D12 — Macro Globale REALE v3.0 (sostituisce stub FASE2)\n// CATTURA DATI: 🇺🇸 USA | 🇪🇺 EU | 🇯🇵 JP | 🇨🇳 CN | 🇬🇧 UK\n// Sources: ForexFactory Calendar + Yahoo Finance + FRED Public\n// Dati: CPI, GDP, Tassi, DXY, JPY, Nikkei, PMI, Disoccupazione\n// DATE PRECISE di uscita eventi macroeconomici\n// ZERO API KEY — fetch() nativo n8n v2\n// ============================================================\n\nconst SUPABASE_URL = 'https://xlzjkffrjynyqeivuczs.supabase.co';\nconst SUPABASE_KEY = 'YOUR_SUPABASE_KEY_HERE';\n\nconst now   = new Date();\nconst nowMs = now.getTime();\n\nlet gdpGrowth   = null;\nlet dxyLevel    = null;\nlet jpyLevel    = null;\nlet nikkeiChg   = null;\nlet shanghaiChg = null;\nlet daxChg      = null;\nlet ftseChg     = null;\nconst activeSources = [];\n\n// ─── 1. FOREXFACTORY — calendario eventi macro ───────────────\nlet ffEvents    = [];\nlet ffThisWeek  = [];\nlet ffNextWeek  = [];\n\ntry {\n  // Questa settimana\n  const res1 = await fetch('https://nfs.faireconomy.media/ff_calendar_thisweek.json', {\n    headers: { 'User-Agent': 'Mozilla/5.0' },\n    signal:  AbortSignal.timeout(5000),\n  });\n  if (res1.ok) ffThisWeek = await res1.json();\n  activeSources.push('FF_thisweek');\n} catch(e) {}\n\ntry {\n  // Prossima settimana\n  const res2 = await fetch('https://nfs.faireconomy.media/ff_calendar_nextweek.json', {\n    headers: { 'User-Agent': 'Mozilla/5.0' },\n    signal:  AbortSignal.timeout(5000),\n  });\n  if (res2.ok) ffNextWeek = await res2.json();\n} catch(e) {}\n\nffEvents = [...ffThisWeek, ...ffNextWeek];\n\n// Filtro: solo eventi ad alto impatto USD/EUR/JPY/CNY/GBP\nconst MACRO_CURRENCIES = ['USD', 'EUR', 'JPY', 'CNY', 'GBP', 'AUD', 'CAD'];\nconst highImpact = ffEvents.filter(ev =>\n  MACRO_CURRENCIES.includes(ev.country) && ev.impact === 'High'\n);\n\n// ─── CLASSIFICAZIONE EVENTI ──────────────────────────────────\nconst KEY_EVENTS = {\n  US:  ['cpi', 'pce', 'nfp', 'non-farm', 'payroll', 'gdp', 'fomc', 'fed rate', 'ppi', 'ism', 'retail sales', 'unemployment', 'consumer confidence'],\n  EU:  ['ecb rate', 'cpi flash', 'cpi preliminary', 'gdp flash', 'gdp preliminary', 'unemployment rate', 'pmi', 'zew'],\n  JP:  ['boj rate', 'cpi', 'gdp', 'tankan', 'unemployment', 'trade balance'],\n  CN:  ['pmi', 'gdp', 'cpi', 'pboc rate', 'industrial production', 'trade balance', 'retail sales'],\n  UK:  ['boe rate', 'cpi', 'gdp', 'unemployment', 'retail sales'],\n};\n\n// Prossimi 7 giorni\nconst next7 = highImpact.filter(ev => {\n  try {\n    const ms = new Date(ev.date).getTime();\n    return ms > nowMs && ms < (nowMs + 7 * 24 * 3600 * 1000);\n  } catch(e) { return false; }\n});\n\n// Formatta calendario eventi\nconst calendarFormatted = next7.slice(0, 10).map(ev => {\n  const d = new Date(ev.date);\n  const dateStr = d.toLocaleString('it-IT', { timeZone: 'UTC',\n    weekday: 'short', month: 'short', day: 'numeric',\n    hour: '2-digit', minute: '2-digit' });\n  return `${ev.country} | ${ev.title} | ${dateStr} UTC | ${ev.impact}${ev.forecast ? ` | F: ${ev.forecast}` : ''}`;\n});\n\n// Prossimo evento critico USD (ore/minuti)\nconst nextUsEvent = highImpact\n  .filter(ev => ev.country === 'USD' && new Date(ev.date).getTime() > nowMs)\n  .sort((a, b) => new Date(a.date) - new Date(b.date))[0];\nconst hoursToNextUS = nextUsEvent\n  ? ((new Date(nextUsEvent.date).getTime() - nowMs) / 3600000).toFixed(1)\n  : null;\n\n// ─── 2. YAHOO FINANCE — DXY ──────────────────────────────────\ntry {\n  const res = await fetch(\n    'https://query1.finance.yahoo.com/v8/finance/chart/DX-Y.NYB?interval=1d&range=5d',\n    { signal: AbortSignal.timeout(5000) }\n  );\n  if (res.ok) {\n    const obj  = await res.json();\n    const arr  = (obj?.chart?.result?.[0]?.indicators?.quote?.[0]?.close || []).filter(v => v);\n    if (arr.length > 0) { dxyLevel = arr[arr.length - 1]; activeSources.push('DXY'); }\n  }\n} catch(e) {}\n\n// ─── 3. YAHOO FINANCE — JPY/USD ──────────────────────────────\ntry {\n  const res = await fetch(\n    'https://query1.finance.yahoo.com/v8/finance/chart/JPY=X?interval=1d&range=5d',\n    { signal: AbortSignal.timeout(5000) }\n  );\n  if (res.ok) {\n    const obj = await res.json();\n    const arr = (obj?.chart?.result?.[0]?.indicators?.quote?.[0]?.close || []).filter(v => v);\n    if (arr.length > 0) { jpyLevel = arr[arr.length - 1]; activeSources.push('JPY'); }\n  }\n} catch(e) {}\n\n// ─── 4. YAHOO FINANCE — Nikkei 225 ───────────────────────────\ntry {\n  const res = await fetch(\n    'https://query1.finance.yahoo.com/v8/finance/chart/%5EN225?interval=1d&range=5d',\n    { signal: AbortSignal.timeout(5000) }\n  );\n  if (res.ok) {\n    const obj  = await res.json();\n    const arr  = (obj?.chart?.result?.[0]?.indicators?.quote?.[0]?.close || []).filter(v => v);\n    if (arr.length > 1) {\n      nikkeiChg = ((arr[arr.length - 1] - arr[arr.length - 2]) / arr[arr.length - 2]) * 100;\n      activeSources.push('Nikkei');\n    }\n  }\n} catch(e) {}\n\n// ─── 5. YAHOO FINANCE — Shanghai Composite (CN) ──────────────\ntry {\n  const res = await fetch(\n    'https://query1.finance.yahoo.com/v8/finance/chart/000001.SS?interval=1d&range=5d',\n    { signal: AbortSignal.timeout(5000) }\n  );\n  if (res.ok) {\n    const obj = await res.json();\n    const arr = (obj?.chart?.result?.[0]?.indicators?.quote?.[0]?.close || []).filter(v => v);\n    if (arr.length > 1) {\n      shanghaiChg = ((arr[arr.length - 1] - arr[arr.length - 2]) / arr[arr.length - 2]) * 100;\n      activeSources.push('Shanghai');\n    }\n  }\n} catch(e) {}\n\n// ─── 6. YAHOO FINANCE — DAX (EU) ────────────────────────────\ntry {\n  const res = await fetch(\n    'https://query1.finance.yahoo.com/v8/finance/chart/%5EGDAXI?interval=1d&range=5d',\n    { signal: AbortSignal.timeout(5000) }\n  );\n  if (res.ok) {\n    const obj = await res.json();\n    const arr = (obj?.chart?.result?.[0]?.indicators?.quote?.[0]?.close || []).filter(v => v);\n    if (arr.length > 1) {\n      daxChg = ((arr[arr.length - 1] - arr[arr.length - 2]) / arr[arr.length - 2]) * 100;\n      activeSources.push('DAX');\n    }\n  }\n} catch(e) {}\n\n// ─── 7. FRED — Fed Funds Rate ────────────────────────────────\nlet fedRate = null;\ntry {\n  const res = await fetch(\n    'https://fred.stlouisfed.org/graph/fredgraph.json?id=FEDFUNDS&vintage_date=' +\n    now.toISOString().slice(0, 10),\n    { signal: AbortSignal.timeout(5000) }\n  );\n  if (res.ok) {\n    const obj = await res.json();\n    const obs  = obj?.observations || obj?.data;\n    if (obs?.length > 0) {\n      fedRate = parseFloat(obs[obs.length - 1].value || obs[obs.length - 1][1]);\n      if (!isNaN(fedRate)) activeSources.push('FRED_FedFunds');\n    }\n  }\n} catch(e) {}\n\n// ─── 8. CALCOLO SCORE MACRO GLOBALE ─────────────────────────\nlet score = 0;\nconst reasons = [];\n\n// DXY — dollaro debole = bullish oro\nif (dxyLevel !== null) {\n  if      (dxyLevel < 98)  { score += 1.2; reasons.push(`🇺🇸 DXY ${dxyLevel.toFixed(1)} — dollaro molto debole → bullish oro`); }\n  else if (dxyLevel < 101) { score += 0.6; reasons.push(`🇺🇸 DXY ${dxyLevel.toFixed(1)} — dollaro debole`); }\n  else if (dxyLevel < 104) { score += 0.0; reasons.push(`🇺🇸 DXY ${dxyLevel.toFixed(1)} — neutro`); }\n  else if (dxyLevel < 107) { score -= 0.5; reasons.push(`🇺🇸 DXY ${dxyLevel.toFixed(1)} — dollaro forte → pressione oro`); }\n  else                     { score -= 1.2; reasons.push(`🇺🇸 DXY ${dxyLevel.toFixed(1)} — dollaro molto forte → bearish oro`); }\n}\n\n// JPY — yen debole (>150) = risk-off Asia = bullish oro\nif (jpyLevel !== null) {\n  if      (jpyLevel > 155) { score += 0.8; reasons.push(`🇯🇵 JPY ${jpyLevel.toFixed(1)} — yen molto debole, risk-off Asia`); }\n  else if (jpyLevel > 148) { score += 0.4; reasons.push(`🇯🇵 JPY ${jpyLevel.toFixed(1)} — yen debole`); }\n  else if (jpyLevel < 140) { score -= 0.3; reasons.push(`🇯🇵 JPY ${jpyLevel.toFixed(1)} — yen forte (BOJ hawkish?)`); }\n}\n\n// Nikkei — calo = risk-off = bullish oro\nif (nikkeiChg !== null) {\n  if      (nikkeiChg < -2.0) { score += 0.8; reasons.push(`🇯🇵 Nikkei ${nikkeiChg.toFixed(1)}% — forte calo, risk-off`); }\n  else if (nikkeiChg < -0.5) { score += 0.3; }\n  else if (nikkeiChg >  2.0) { score -= 0.5; reasons.push(`🇯🇵 Nikkei +${nikkeiChg.toFixed(1)}% — risk-on`); }\n}\n\n// Shanghai — calo CN = risk-off = moderatamente bullish oro\nif (shanghaiChg !== null) {\n  if      (shanghaiChg < -1.5) { score += 0.5; reasons.push(`🇨🇳 Shanghai ${shanghaiChg.toFixed(1)}% — debolezza CN`); }\n  else if (shanghaiChg >  1.5) { score -= 0.3; reasons.push(`🇨🇳 Shanghai +${shanghaiChg.toFixed(1)}% — ottimismo CN`); }\n}\n\n// DAX — proxy economia EU\nif (daxChg !== null) {\n  if      (daxChg < -1.5) { score += 0.3; reasons.push(`🇪🇺 DAX ${daxChg.toFixed(1)}% — EU risk-off`); }\n  else if (daxChg >  1.5) { score -= 0.2; }\n}\n\n// Fed Rate — tassi alti = bearish oro\nif (fedRate !== null) {\n  if      (fedRate > 5.0) { score -= 0.8; reasons.push(`🇺🇸 Fed Funds ${fedRate.toFixed(2)}% — tassi alti → bearish oro`); }\n  else if (fedRate > 3.5) { score -= 0.3; }\n  else if (fedRate < 2.0) { score += 0.6; reasons.push(`🇺🇸 Fed Funds ${fedRate.toFixed(2)}% — tassi bassi → bullish oro`); }\n}\n\n// Evento US imminente = riduzione score (incertezza)\nif (hoursToNextUS !== null && parseFloat(hoursToNextUS) < 2) {\n  score *= 0.5;\n  reasons.push(`⏰ Evento USD critico tra ${hoursToNextUS}h: ${nextUsEvent?.title}`);\n}\n\n// Clamp [-5, +5]\nscore = Math.max(-5, Math.min(5, parseFloat(score.toFixed(3))));\n\n// Macro regime globale\nconst macroRegime = score > 2   ? 'RISK_OFF_STRONG'\n                  : score > 0.5 ? 'RISK_OFF_MILD'\n                  : score < -2  ? 'RISK_ON_STRONG'\n                  : score < -0.5? 'RISK_ON_MILD'\n                  : 'NEUTRAL';\n\n// ─── 9. SALVA CACHE SU SUPABASE ──────────────────────────────\ntry {\n  await fetch(`${SUPABASE_URL}/rest/v1/d12_macro_cache`, {\n    method: 'POST',\n    headers: {\n      'apikey':       SUPABASE_KEY,\n      'Authorization': `Bearer ${SUPABASE_KEY}`,\n      'Content-Type': 'application/json',\n      'Prefer':       'return=minimal',\n    },\n    body: JSON.stringify({\n      score, macroRegime, dxyLevel, jpyLevel, nikkeiChg,\n      shanghaiChg, daxChg, fedRate, activeSources,\n      highImpactCount: highImpact.length,\n      timestamp: now.toISOString(),\n    }),\n  });\n} catch(e) {}\n\nreturn [{\n  json: {\n    dept: 'D12',\n    score,\n    macroRegime,\n    dxyLevel:     dxyLevel  !== null ? parseFloat(dxyLevel.toFixed(3)) : null,\n    jpyLevel:     jpyLevel  !== null ? parseFloat(jpyLevel.toFixed(2)) : null,\n    nikkeiChg:    nikkeiChg !== null ? parseFloat(nikkeiChg.toFixed(2)) : null,\n    shanghaiChg:  shanghaiChg !== null ? parseFloat(shanghaiChg.toFixed(2)) : null,\n    daxChg:       daxChg    !== null ? parseFloat(daxChg.toFixed(2)) : null,\n    fedRate:      fedRate   !== null ? parseFloat(fedRate.toFixed(2)) : null,\n    activeSources,\n    highImpactCount: highImpact.length,\n    calendarUpcoming: calendarFormatted,\n    nextUsEvent:  nextUsEvent ? `${nextUsEvent.title} @ ${nextUsEvent.date?.slice(0,16)} UTC (${hoursToNextUS}h)` : null,\n    isFASE2stub:  false,\n    reasons: reasons.length > 0\n      ? reasons.slice(0, 4)\n      : [`D12: Macro globale nella norma (${activeSources.join('+')} | ${highImpact.length} eventi)`],\n  },\n}];\n"}, "id": "64904d16-8d96-4cc9-b8b6-fef991e3e578", "name": "🌐 D12 — Macro Globale REALE", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [192, 2432], "onError": "continueRegularOutput"}, {"parameters": {"workflowId": {"__rl": true, "value": "Wot4IozH7ZU9NoqY", "mode": "id"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {}}, "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [176, -32], "id": "10a5f31e-da5e-4e06-bf9b-2109edef1e9c", "name": "Call 'D1B — Macro Secondario (FRED)'"}, {"parameters": {"jsCode": "const all = $input.all();\nconst s = all.find(i => i.json?.telegramMessage)?.json || all.find(i => i.json?.goldPrice > 100)?.json || $input.first().json;\nconst body = {\n  timestamp: new Date().toISOString(),\n  session_label: s.sessionLabel||'N/A',\n  session_info: s.sessionInfo||'N/A',\n  direction: s.direction||'WAIT',\n  direction_emoji: s.directionEmoji||'🟡',\n  confidence_score: Number(s.confidenceScore||0),\n  market_regime: s.marketRegime||'TREND',\n  market_structure: s.marketStructure||'UNKNOWN',\n  gold_price: Number(s.goldPrice||0),\n  atr: Number(s.atr||0),\n  entry_low: Number(s.entryLow||0),\n  entry_high: Number(s.entryHigh||0),\n  target1: Number(s.target1||0),\n  target2: Number(s.target2||0),\n  target3: Number(s.target3||0),\n  stop_loss: Number(s.stopLoss||0),\n  risk_reward: String(s.riskReward||'N/A'),\n  size_multiplier: Number(s.sizeMultiplier||1),\n  size_note: String(s.sizeNote||''),\n  veto_active: s.vetoActive||false,\n  veto_reason: String(s.vetoReason||''),\n  vix: Number(s.vix||20),\n  fng: Number(s.fng||50),\n  fng_label: String(s.fngLabel||'N/A'),\n  has_memory: s.hasMemory||false,\n  plan_b: String(s.planB||''),\n  historical_note: String(s.historicalNote||''),\n  department_scores: s.departmentScores||{},\n  candle_patterns: s.candlePatterns||[],\n  top_headlines: s.topHeadlines||[],\n  reasons: s.reasons||[],\n  telegram_message: (s.telegramMessage||'').substring(0,4000),\n  quality_score: Number(s.qualityScore||0),\n  setup_grade: String(s.setupGrade||'C'),\n  session_filter_applied: s.sessionFilterApplied||false,\n  session_force: String(s.sessionForce||''),\n  price_bias: String(s.priceBias||''),\n  ff_veto_active: s.ffVetoActive||false,\n  ff_next_event: String(s.ffNextEvent||''),\n};\nconst SUPABASE_KEY='YOUR_SUPABASE_KEY_HERE';\nconst bodyStr=JSON.stringify(body);\nlet supabaseStatus='ERROR',supabaseError=null;\ntry{\n  const https=require('https');\n  await new Promise((resolve,reject)=>{\n    const options={hostname:'xlzjkffrjynyqeivuczs.supabase.co',path:'/rest/v1/audit_log',method:'POST',headers:{'apikey':SUPABASE_KEY,'Authorization':`Bearer ${SUPABASE_KEY}`,'Content-Type':'application/json','Prefer':'return=minimal','Content-Length':Buffer.byteLength(bodyStr)}};\n    const req=https.request(options,(res)=>{\n      let data='';\n      res.on('data',chunk=>data+=chunk);\n      res.on('end',()=>{\n        if(res.statusCode>=200&&res.statusCode<300){supabaseStatus='OK';resolve();}else{supabaseError=`HTTP ${res.statusCode}: ${data}`;resolve();}\n      });\n    });\n    req.on('error',(err)=>{supabaseError=err.message;resolve();});\n    req.write(bodyStr);\n    req.end();\n  });\n}catch(err){supabaseError=err.message||'Errore sconosciuto';}\nreturn [{json:{...body,_supabase_status:supabaseStatus,_supabase_error:supabaseError}}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2736, 1424], "id": "208c8f53-c2c0-4fa0-9f30-c454c726d16a", "name": "Code in JavaScript9"}, {"parameters": {"workflowId": "ch0dyJNO0kdKBzv8", "options": {"waitForSubWorkflow": true}}, "id": "faf421b9-d1cd-48d2-a4a0-bd1229a78fff", "name": "💰 D2A1 — Gold Price1", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1, "position": [176, 144]}, {"parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 15}]}}, "id": "cc83af37-64ff-4c72-83a7-89db05c76c77", "name": "⏱️ Trigger 15 Minuti1", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-528, 1280]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "score-filter-001", "leftValue": "={{ $json.qualityScore }}", "rightValue": 70, "operator": {"type": "number", "operation": "gte"}}], "combinator": "and"}, "options": {}}, "id": "f1ltr0-s0re-7070-n8n0-f1lt3r000001", "name": "🎯 Filtro Score ≥70", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [2608, 1440]}, {"parameters": {"method": "POST", "url": "https://xlzjkffrjynyqeivuczs.supabase.co/rest/v1/filtered_signals", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Prefer", "value": "return=minimal"}, {"name": "apikey", "value": "YOUR_SUPABASE_KEY_HERE"}, {"name": "Authorization", "value": "Bearer YOUR_SUPABASE_KEY_HERE"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "{\"timestamp\":\"={{ $now }}\",\"quality_score\":\"={{ $json.qualityScore }}\",\"setup_grade\":\"={{ $json.setupGrade }}\",\"direction\":\"={{ $json.direction }}\",\"gold_price\":\"={{ $json.goldPrice }}\",\"atr_value\":\"={{ $json.atr }}\",\"market_regime\":\"={{ $json.marketRegime }}\",\"filter_reason\":\"score_below_70\",\"session_label\":\"={{ $json.sessionLabel }}\",\"session_force\":\"={{ $json.sessionForce }}\",\"ff_veto\":\"={{ $json.ffVetoActive }}\"}", "options": {}}, "id": "f1ltr0-http-7070-n8n0-f1lt3r000002", "name": "📊 Log Segnale Filtrato", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2752, 1664]}], "pinData": {}, "connections": {"📱 Trigger Telegram": {"main": [[]]}, "Merge Trigger": {"main": [[{"node": "🔧 Init Sessione1", "type": "main", "index": 0}]]}, "⚖️ Leggi Pesi Adattivi": {"main": [[{"node": "Merge 2 — D2A+D2B1", "type": "main", "index": 2}]]}, "🔧 Init Sessione1": {"main": [[{"node": "🔀 Mercato Aperto?1", "type": "main", "index": 0}]]}, "🔀 Mercato Aperto?1": {"main": [[{"node": "🏦 D1A — Macro FED1", "type": "main", "index": 0}, {"node": "💵 D3A — DXY/SPX1", "type": "main", "index": 0}, {"node": "🔗 D3B — BTC/Rame1", "type": "main", "index": 0}, {"node": "😨 D4 — Sentiment1", "type": "main", "index": 0}, {"node": "📅 D7 — Stagionalità1", "type": "main", "index": 0}, {"node": "📍 D8 — Livelli S/R1", "type": "main", "index": 0}, {"node": "🕯️ D9 — Candele1", "type": "main", "index": 0}, {"node": "🏗️ D10 — Struttura1", "type": "main", "index": 0}, {"node": "⏰ D11 — Sessione1", "type": "main", "index": 0}, {"node": "🧠 Mem-1 Working1", "type": "main", "index": 0}, {"node": "📚 Mem-3 Semantica1", "type": "main", "index": 0}, {"node": "⚖️ Leggi Pesi Adattivi", "type": "main", "index": 0}, {"node": "🐋 D6 — COT Whale1", "type": "main", "index": 0}, {"node": "📰 D5 — News NLP1", "type": "main", "index": 0}, {"node": "📈 D2B — Oro Avanzato1", "type": "main", "index": 0}, {"node": "🏦 D4_BC — Banche Centrali REALE", "type": "main", "index": 0}, {"node": "📰 D5A — News NLP REALE", "type": "main", "index": 0}, {"node": "🌍 D5B — OSINT Geopolitico REALE", "type": "main", "index": 0}, {"node": "🌐 D12 — Macro Globale REALE", "type": "main", "index": 0}, {"node": "Call 'D1B — Macro Secondario (FRED)'", "type": "main", "index": 0}, {"node": "💰 D2A1 — Gold Price1", "type": "main", "index": 0}, {"node": "🥇 D2A2 — Oro Tecnico1", "type": "main", "index": 0}], [{"node": "💤 Skip Weekend1", "type": "main", "index": 0}]]}, "🏦 D1A — Macro FED1": {"main": [[{"node": "Merge 3 — D3A+D3B1", "type": "main", "index": 0}]]}, "💵 D3A — DXY/SPX1": {"main": [[{"node": "Merge 3 — D3A+D3B1", "type": "main", "index": 5}]]}, "🔗 D3B — BTC/Rame1": {"main": [[{"node": "Merge 3 — D3A+D3B1", "type": "main", "index": 6}]]}, "😨 D4 — Sentiment1": {"main": [[{"node": "Merge 3 — D3A+D3B1", "type": "main", "index": 6}]]}, "🐋 D6 — COT Whale1": {"main": [[{"node": "Merge 1 — D1A+D1B1", "type": "main", "index": 1}]]}, "📅 D7 — Stagionalità1": {"main": [[{"node": "Merge 1 — D1A+D1B1", "type": "main", "index": 2}]]}, "📍 D8 — Livelli S/R1": {"main": [[{"node": "Merge 1 — D1A+D1B1", "type": "main", "index": 3}]]}, "🕯️ D9 — Candele1": {"main": [[{"node": "Merge 1 — D1A+D1B1", "type": "main", "index": 4}]]}, "🏗️ D10 — Struttura1": {"main": [[{"node": "Merge 1 — D1A+D1B1", "type": "main", "index": 5}]]}, "⏰ D11 — Sessione1": {"main": [[{"node": "Merge 1 — D1A+D1B1", "type": "main", "index": 6}]]}, "🧠 Mem-1 Working1": {"main": [[{"node": "Merge 1 — D1A+D1B1", "type": "main", "index": 8}]]}, "📚 Mem-3 Semantica1": {"main": [[{"node": "Merge 1 — D1A+D1B1", "type": "main", "index": 9}]]}, "Merge 1 — D1A+D1B1": {"main": [[{"node": "Merge 2 — D2A+D2B1", "type": "main", "index": 1}]]}, "Merge 2 — D2A+D2B1": {"main": [[{"node": "🔮 Memory Fusion1", "type": "main", "index": 0}]]}, "Merge 3 — D3A+D3B1": {"main": [[{"node": "Merge 2 — D2A+D2B1", "type": "main", "index": 0}]]}, "🔮 Memory Fusion1": {"main": [[{"node": "🧠 CERVELLO CIO v10.3", "type": "main", "index": 0}]]}, "🧠 CERVELLO CIO v10.3": {"main": [[{"node": "📝 Formatta Bollettino1", "type": "main", "index": 0}]]}, "📝 Formatta Bollettino1": {"main": [[{"node": "🛡️ G8 — ForexFactory Veto", "type": "main", "index": 0}]]}, "🛡️ G8 — ForexFactory Veto": {"main": [[{"node": "🎯 Filtro Score ≥70", "type": "main", "index": 0}]]}, "💾 Audit Log Supabase1": {"main": [[{"node": "📊 Fetch Sessioni Post-Mortem", "type": "main", "index": 0}]]}, "📰 D5 — News NLP1": {"main": [[{"node": "Merge 3 — D3A+D3B1", "type": "main", "index": 7}]]}, "📈 D2B — Oro Avanzato1": {"main": [[{"node": "Merge 3 — D3A+D3B1", "type": "main", "index": 4}]]}, "🏦 D4_BC — Banche Centrali REALE": {"main": [[{"node": "Merge 3 — D3A+D3B1", "type": "main", "index": 8}]]}, "📰 D5A — News NLP REALE": {"main": [[{"node": "Merge 3 — D3A+D3B1", "type": "main", "index": 9}]]}, "🌍 D5B — OSINT Geopolitico REALE": {"main": [[{"node": "Merge 1 — D1A+D1B1", "type": "main", "index": 0}]]}, "🌐 D12 — Macro Globale REALE": {"main": [[{"node": "Merge 1 — D1A+D1B1", "type": "main", "index": 7}]]}, "Call 'D1B — Macro Secondario (FRED)'": {"main": [[{"node": "Merge 3 — D3A+D3B1", "type": "main", "index": 1}]]}, "Code in JavaScript9": {"main": [[{"node": "💾 Audit Log Supabase1", "type": "main", "index": 0}, {"node": "💾 Salva Working Memory1", "type": "main", "index": 0}]]}, "💰 D2A1 — Gold Price1": {"main": [[{"node": "Merge 3 — D3A+D3B1", "type": "main", "index": 2}]]}, "🥇 D2A2 — Oro Tecnico1": {"main": [[{"node": "Merge 3 — D3A+D3B1", "type": "main", "index": 3}]]}, "🔀 È comando bollettino?": {"main": [[{"node": "Merge Trigger", "type": "main", "index": 1}]]}, "⏱️ Trigger 15 Minuti1": {"main": [[{"node": "Merge Trigger", "type": "main", "index": 0}]]}, "📊 Fetch Sessioni Post-Mortem": {"main": [[{"node": "⚖️ Calcola Nuovi Pesi", "type": "main", "index": 0}]]}, "⚖️ Calcola Nuovi Pesi": {"main": [[{"node": "💾 Salva Pesi Adattivi", "type": "main", "index": 0}]]}, "🎯 Filtro Score ≥70": {"main": [[{"node": "📱 Invia Telegram1", "type": "main", "index": 0}, {"node": "Code in JavaScript9", "type": "main", "index": 0}], [{"node": "📱 Invia Telegram1", "type": "main", "index": 0}, {"node": "📊 Log Segnale Filtrato", "type": "main", "index": 0}]]}}, "active": true, "settings": {"executionOrder": "v1", "binaryMode": "separate", "availableInMCP": false}, "meta": {"templateCredsSetupCompleted": true, "instanceId": "e608699b4bc68296ea8498942ac86a80c791d3cd95fdc48fd150b286ad2856e5"}, "tags": [{"updatedAt": "2026-03-14T00:00:00.000Z", "createdAt": "2026-03-05T03:37:54.012Z", "id": "OVrqdYtCUWNxXFeR", "name": "hedge-fund-xauusd"}]}